.page-affPayments{

	h2{
		font-weight: 900;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		color: #3A3A3A;
		margin-bottom: 27px;
		span{
			color: #F91942;
		}
	}

	canvas{
		width: 100%;
		max-width: 50vw;
		height: 315px;
	}

	&__sides{
		display: flex;
		margin-bottom: 54px;
	}
	&__lft{
		width: 100%;
	}
	&__rht{
		width: 100%;
		max-width: 438px;
		margin-left: 45px;
		.rht__block{
			background: #FAFAFA;
			border: 1px solid #E6E6E6;
			border-radius: 10px;
			padding: 27px 22px;
		}
		ul{
			margin: -14px 0;
		}
		li{
			font-family: 'Roboto';
			font-size: 18px;
			line-height: 21px;
			color: #424242;
			margin: 14px 0;
			span.red{
				color: #F91942;
			}
		}
		button{
			background: #F91942;
			border-radius: 41px;
			height: 45px;
			max-width: 234px;
			width: 100%;
			font-weight: 900;
			font-size: 18px;
			line-height: 24px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin-top: 27px;
		}
	}

	table,
	tr td,
	table tr,
	table tbody,
	table thead,
	table tfoot,
	table tr th,
	table tfoot tr tf
	{
	    margin:0;
	    padding:0;
	    // background:none;
	    border:none;
	    border-collapse:collapse;
	    border-spacing:0;
	    background-image:none;
	}

	&__table{
		position: relative;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		.table__ovf{
			border-radius: 5px 5px 0 0;
			padding-bottom: 18px;
			overflow: hidden;
			&::-webkit-scrollbar {
			    background: #F3F3F3;
				border-radius: 8px;
				height: 14px;
			}
			&::-webkit-scrollbar-thumb {
			    background: #F91942;
				border-radius: 8px;
			}
		}
		.table__info{
			position: absolute;
			font-family: 'Roboto';
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			color: #FFFFFF;
			padding-bottom: 4px;
			border-bottom: 1px solid #FFFFFF;
			max-width: 148px;
			width: 100%;
			background: #F91942;
			right: 0;
			padding-top: 7px;
			span{
				z-index: 2;
				position: relative;
			}
			&:after{
				content: '';
				background: #F91942;
				height: 100%;
				position: absolute;
				width: 2700px;
				left: -1350px;
				z-index: 1;
				top: 0;
			}
		}
	}
	.sortable{
		width: 100%;
		thead{
			td{
				height: auto;
				padding-top: 18px;
				padding-bottom: 18px;
			}
		}
	}
	tbody{
		td{
			font-family: 'Roboto';
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: #3A3A3A;
			padding-left: 22px;
			padding-top: 14px;
			padding-bottom: 14px;
			&:last-child{
				padding-right: 2px;
			}
		}
		tr{
			&:nth-child(2n + 2){
				td{
					background: #fafafa;
				}
			}
			&:hover{
				background: #FFFFFF;
				border: 1px solid #F91942;
				border-radius: 5px;
				cursor: pointer;
				td{
					background: #FFFFFF !important;
				}
			}
		}
	}
	thead{
		background: #F91942;
		border-radius: 5px 5px 0px 0px;
		white-space: nowrap;
		td{
			padding-left: 22px;
		}
		td:nth-child(1){
			padding-right: 39px;
		}
		td:nth-child(2){
			padding-right: 54px;
		}
		td:nth-child(3){
			padding-right: 145px;
		}
		td:nth-child(4){
			padding-right: 93px;
		}
	}

	.sortable .desc, .sortable .asc{
		background: #A01631;
	}
	.sortable .nosort h3,
	.sortable .desc h3,
	.sortable .asc h3,
	.sortable .head h3{
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #FFFFFF;
		background: transparent;
		&:after{
			content: '';
			width: 10px;
			height: 5px;
			display: block;
			width: 45px;
			height: 14px;
			border-radius: 5px;
			background: #D01F40 url('../img/svg/arrTableSort.svg') no-repeat;
			background-position: center;
			margin-top: 11px;
		}
	}
	.sortable .nosort h3{
		&:after{
			display: none;
		}
	}

	.sortable td{
		height: 45px;
	}
	.sortable .oddrow td{
		background: #FAFAFA;
	}
	.sortable .oddrow td.oddselected{
		background: #ecf2f6;
	}
}


// MEDIA

@media screen and (max-width: 1024px) {
	.page-affPayments h2{
		margin-bottom: 27px;
		font-size: 16px;
		line-height: 23px;
	}
	.page-affPayments__rht .rht__block{
		padding: 18px;
	}
	.page-affPayments__rht li{
		font-size: 14px;
		line-height: 17px;
	}
	.page-affPayments__rht canvas{
		width: 100%;
		max-width: 100%;
	}
	.page-affPayments__rht{
		max-width: 306px;
	}
	.page-affPayments__sides{
		justify-content: space-between;
	}



	.page-affPayments thead td:nth-child(1){
		padding-right: 10px;
	}
	.page-affPayments thead td:nth-child(2){
		padding-right: 0px;
	}
	.page-affPayments thead td:nth-child(3){
		padding-right: 90px;
	}
	.page-affPayments thead td:nth-child(4){
		padding-right: 27px;
	}
}

@media screen and (max-width: 992px) {
	.page-affPayments__sides{
		display: block;
	}
	.page-affPayments__rht{
		margin-left: 0;
		margin-top: 27px;
	}
	.page-affPayments canvas{
		max-width: 100%;
		width: 100%;
	}
	.page-affPayments__rht button{
		max-width: 100%;
	}

	.page-affPayments .table__ovf{
		overflow: auto;
	}
	.page-affPayments .sortable{
		min-width: 900px;
	}
}

@media screen and (max-width: 700px) {
	.page-affPayments__rht{
		max-width: 100%;
	}
	.page-affPayments__rht li {
		width: 100%;
		display: flex;
		align-items: center;
	}
	.page-affPayments__rht li b{
		margin-right: 36px;
	}
	.page-affPayments__rht li span.red{
		margin-left: auto;
		display: block;
	}
}

@media screen and (max-width: 440px) {
	.page-affPayments__rht li b{
		margin-right: 18px;
	}
	.page-affPayments__rht .rht__block{
		margin-left: -18px;
		margin-right: -18px;
	}
}














