.page-booking{
	&__sides{
		display: flex;
	}
	&__lft{
		width: 100%;
	}
	&__rht{
		max-width: 333px;
		width: 100%;
		margin-left: 32px;
		.rht__info{
			background: #FAFAFA;
			border-radius: 0px 0px 5px 5px;
			padding: 27px 22px;
			margin-top: 27px;
		}
		.rht__photo{
			width: 100%;
			max-width: 288px;
			margin-left: auto;
			display: block;
		}
		.info__top{
			border-bottom: 1px solid #F91942;
			margin-bottom: 27px;
		}
		span.blockInfoTextModal{
			border-bottom: 1px dashed #000;
		}
		.info__bottom{
			border-top: 1px solid #F91942;
			margin-top: -10px;
			padding-top: 27px;
			span{
				font-weight: 900;
				font-size: 18px;
				// line-height: 24px;
				color: #3A3A3A;
				display: block;
				&:last-child{
					margin-left: auto;
				}
			}
		}
		.bottom__item{
			display: flex;
			align-items: center;
			margin-bottom: 14px;
			img{
				margin-left: 8px;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		.info__center{
			h2{
				margin-bottom: 14px;
			}
		}
		.center__block{
			margin: 0 -16px;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 36px;
		}
		.center__item{
			width: calc(50% - 32px);
			margin: 0 16px;
			display: flex;
			align-items: flex-start;
			span{
				font-family: Roboto;
				font-size: 18px;
				line-height: 21px;
				color: #424242;
				margin-left: 11px;
			}
			&_long{
				width: 100%;
				margin-top: 11px;
			}
		}
	}
	&__bottom{
		background: #FFFFFF;
		border: 1px dashed #F91942;
		border-radius: 5px;
		padding: 18px 22px 27px;
		font-family: Roboto;
		font-weight: 600;
		font-size: 18px;
		line-height: 21px;
		margin-top: 45px;
		margin-bottom: 72px;
		color: #424242;
		.label-checkbox{
			&:before{
				margin-right: 11px;
			}
		}
		.bottom__buttons{
			margin-top: 22px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.back{
			background: #FAFAFA;
			border: 1px solid #C4C4C4;
			border-radius: 63px;
			font-weight: 900;
			font-size: 16px;
			line-height: 23px;
			padding: 0 27px;
			height: 41px;
			text-transform: uppercase;
			color: #A0A0A0;
			cursor: pointer;
		}
		.submit{
			background: #F91942;
			border: 1px solid #F91942;
			border-radius: 22.5px;
			font-weight: 900;
			font-size: 16px;
			line-height: 23px;
			padding: 0 27px;
			height: 41px;
			text-transform: uppercase;
			color: #FFFFFF;
			cursor: pointer;
		}
	}
	&__term{
		background: #FAFAFA;
		border-radius: 10px;
		padding: 18px 22px 27px;
		margin-top: 36px;
		margin-bottom: 45px;
		li{
			font-family: Roboto;
			font-size: 16px;
			line-height: 150%;
			color: #424242;
			display: flex;
			&:before{
				content: '';
				min-width: 4px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				display: block;
				margin: 0 11px;
				background: #3A3A3A;
				margin-top: 11px;
			}
		}
		h2{
			display: flex;
			align-items: center;
			span{
				margin-left: 18px;
			}
		}
	}
	&__form{
		margin: 0 -16px;
		.label,
		label{
			width: calc(50% - 32px);
			margin: 0 16px;
		}
		.label__checkboxes{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 10px;
			label{
				margin-left: 0;
				font-family: Roboto;
				font-size: 18px;
				line-height: 21px;
				color: #424242;
			}
		}
		.form__block{
			display: flex;
			width: 100%;
			margin-bottom: 18px;
			&_long{
				label{
					width: 100%;
				}
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

// MEDIA

@media screen and (max-width: 1024px) {
	.page-booking__rht .bottom__item{
		span{
			.blockInfoTextModal__text{
				right: 10%;
			}
			.blockInfoTextModal__text:after{
				left: 94%;
			}
		}
	}
	.page-booking__form .label__checkboxes label,
	.page-inners .label span, .page-inners label span{
		font-size: 14px;
		line-height: normal;
	}
	.page-booking__form{
		margin: 0 -10px;
	}
	.page-booking__rht{
		max-width: 288px;
	}
	.page-booking__term{
		padding: 18px;
		margin: 36px 0;
	}
	.page-booking__bottom{
		font-size: 16px;
		padding: 18px;
	}
	.page-booking__rht .rht__info{
		padding: 18px;
	}
	.page-booking__rht .center__item span{
		font-size: 14px;
		line-height: normal;
	}
	.page-booking__form .label, .page-booking__form label{
		width: calc(50% - 18px);
		margin: 0 10px;
	}
}

@media screen and (max-width: 992px) {
	.page-booking__sides{
		flex-direction: column-reverse;
	}
	.page-booking__rht{
		display: flex;
		align-items: flex-start;
		margin-left: 0;
		max-width: 100%;
		margin-bottom: 27px;
	}
	.page-booking__rht .rht__info{
		margin-top: -72px;
		margin-left: 27px;
	}
	.page-booking__rht .info__top{
		margin-bottom: 18px;
	}
	.page-booking__rht .info__bottom{
		padding-top: 18px;
	}
	.page-booking__rht .center__block{
		margin-bottom: 27px;
	}
	.page-inners .label span, .page-inners label span{
		margin-bottom: 13px;
	}
}

@media screen and (max-width: 700px) {
	.page-booking__rht{
		display: block;
	}
	.page-booking__rht .rht__info{
		margin-top: 0;
		margin-left: 0;
	}
	.page-booking__rht .rht__photo{
		margin: 0 auto;
		margin-bottom: 27px;
	}
	.page-booking__form .form__block{
		display: block;
		margin-bottom: 0;
	}
	.page-booking__form{
		margin: 0;
	}
	.page-booking__form .label, .page-booking__form label{
		width: 100%;
		display: block;
		margin-left: 0;
		margin-bottom: 18px;
	}
	.page-booking__form .label__checkboxes label{
		margin-bottom: 0;
	}
	.page-booking__form .label__checkboxes{
		display: flex;
	}
	.page-booking__term{
		margin: 27px 0;
	}
	.page-booking__term li{
		font-size: 14px;
		line-height: 150%;
	}
	.page-booking__bottom{
		margin-top: 27px;
		margin-bottom: 45px;
	}
	.page-booking__bottom .submit{
		font-size: 14px;
		padding: 0 23px;
	}
	.page-booking__bottom .back{
		padding: 0 14px;
	}
}

@media screen and (max-width: 400px) {
	.page-booking__term{
		margin-left: -18px;
		margin-right: -18px;
	}
	.page-booking__bottom .bottom__buttons{
		flex-direction: column-reverse;
	}
	.page-booking__bottom .back{
		width: 100%;
	}
	.page-booking__bottom .submit{
		width: 100%;
		margin-bottom: 18px;
	}
}








