
.header-img {
	width: 100%;
	margin-top: 36px;
	margin-bottom: 15px;
	height: 171px;
}


.skeleton {
	opacity: .7;
	animation: skeleton-loading 1s linear infinite alternate;
	border-radius: 5px;
	background: linear-gradient(to right, #F1F1F1 0%, #F8F8F8 50%, #F1F1F1 100%);
	background-size: 200%;
}


@keyframes skeleton-loading {
	0% {
		background-position: 0;
	}

	100% {
		background-position: 100%;
	}
}





.page-city{
	.filters__list{
		label{
			border: 1px solid #C0C0C0;
		}
	}
	.page-index__banner .banner__inner{
		background: transparent;
	}
	.page-index__banner .banner__center{
		background: #FAFAFA;
		box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}

	.page-country__list{
		padding-top: 27px;
	}

	.page-index__banner .banner__block,
	.banner__filters .filter__button{
		border: 1px solid #C0C0C0;
	}
	.page-index__banner .banner__calendar, .page-index__banner .banner__search{
		border-right: 1px solid #C0C0C0;
	}
	.page-index__banner .banner__inner{
		padding-top: 18px;
		min-height: 0;
		padding-bottom: 0px;
	}
	.page-index__banner{
		margin-bottom: 27px;
	}
	.page-index__reviews{
		padding-top: 0;
	}

	.section-from{
		margin-top: 135px;
		.sides{
			display: flex;
			align-items: center;
		}
		.rht{
			margin-left: 32px;
		}
		.lft{
			width: 100%;
		}
		.table{
			border: 1px solid #F91942;
			border-radius: 5px;
			width: 100%;
		}
		.tr{
			display: grid;
			grid-template-columns: 288px 198px auto;
		}
		.tbody{
			.td{
				font-family: Roboto;
				padding: 16px 22px;
				font-size: 18px;
				line-height: 21px;
				color: #424242;
			}
		}
		.thead{
			background: #FAFAFA;
			border-bottom: 1px solid #F91942;
			border-radius: 5px 5px 0 0;
			.td{
				padding: 18px 22px;
				font-family: Roboto;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				text-transform: uppercase;
				color: #F91942;
			}
		}
	}

	&__money{
		// margin-bottom: 27px;
		.money__block{
			background: #E9F8FF;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 72px;
			padding-left: 27px;
			padding-right: 27px;
		}
		.money__close{
			cursor: pointer;
		}
		p{
			font-family: Roboto;
			font-size: 16px;
			line-height: 150%;
			color: #0082BE;
			a{
				text-decoration: underline;
				color: #0082BE;
				font-weight: bold;
			}
		}
	}
}

@media screen and (max-width: 1280px) {
	.page-city .section-from .rht{
		display: none;
	}
	.page-city .section-from .tr{
		grid-template-columns: 315px auto auto;
	}
}

@media screen and (max-width: 1024px) {
	.page-city .banner__filters .filter__button, .page-city .page-index__banner .banner__block{
		border: none;
	}
	.page-index__banner .banner__calendar, .page-index__banner .banner__search, .page-index__banner .banner__time{
		// border: 1px solid #C0C0C0;
	}
	.page-city__money .money__block{
		align-items: flex-start;
		height: auto;
		padding: 27px;
	}
	.page-city__money p a,
	.page-city__money p{
		font-size: 14px;
		line-height: 22px;
	}
	.page-city .section-from{
		margin-top: 54px;
	}
}

@media screen and (max-width: 992px) {
	.page-city__money .money__block{
		padding: 18px;
	}
	.page-city .section-from .tr{
		grid-template-columns: 252px auto auto;
	}
}

@media screen and (max-width: 700px) {
	.page-city__money .money__block{
		padding: 18px;
	}
	.page-city .section-from .tr{
		grid-template-columns: 180px auto auto;
	}
	.page-city .section-from .thead .td{
		font-size: 16px;
		line-height: 19px;
		padding: 21px 18px;
	}
	.page-city .section-from .tbody{
		padding: 5px 0;
	}
	.page-city .section-from .tbody .td{
		font-size: 14px;
		line-height: 17px;
		padding: 14px 18px;
	}
}

@media screen and (max-width: 576px) {
	.page-city .section-from .tr{
		grid-template-columns: 144px auto auto;
	}
	.page-city .page-index__banner .banner__calendar, .page-city .page-index__banner .banner__search, .page-city .page-index__banner .banner__time{
		border: 1px solid #C0C0C0;
	}
	
}

@media screen and (max-width: 400px) {
	.page-city .section-from .thead .td{
		font-size: 13px;
		line-height: 14px;
		padding: 18px 14px;
	}
	.page-city .section-from .tbody{
		padding: 5px 0;
	}
	.page-city .section-from .tbody .td{
		font-size: 13px;
		line-height: 14px;
		padding: 18px 14px;
	}
}























