.page-contacts{

	&__sides{
		display: flex;
		margin-bottom: 50px;
	}
	&__rht{
		width: 100%;
		.inputs{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 35px;
		}
		input{
			margin-bottom: 30px;
		}
		textarea{
			height: 190px;
		}
		.form__bottom{
			margin-top: 24px;
			display: flex;
			align-items: center;

		}
		button{
			background: #F91942;
			border: 1px solid #F91942;
			margin-left: auto;
			height: 50px;
			border-radius: 25px;
			font-weight: 900;
			font-size: 18px;
			line-height: 25px;
			padding: 0 25px;
			display: block;
			text-transform: uppercase;
			color: #FFFFFF;
		}
	}
	&__lft{
		max-width: 370px;
		width: 100%;
		margin-right: 35px;
		.lft__text{
			p{
				font-family: Roboto;
				font-size: 20px;
				line-height: 150%;
				color: #424242;
				margin-bottom: 24px;
			}
		}
		.soc__list{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px;
			img{
				transition: all .3s ease;
			}
			.soc-viber{
				&:hover img{
					box-shadow: 0px 2px 8px rgba(111, 48, 154, 0.8);
				}
			}
			.soc-whatsapp{
				&:hover img{
					box-shadow: 0px 2px 8px #48C95F;
				}
			}
			.soc-telegram{
				&:hover img{
					box-shadow: 0px 2px 8px #2F89CE;
				}
			}
			.soc-messanger{
				&:hover img{
					box-shadow: 0px 2px 8px #007FFF;
				}
			}
			.soc-skype{
				&:hover img{
					box-shadow: 0px 2px 8px #00A9E7;
				}
			}
			a{
				display: flex;
				align-items: center;
			}
			li{
			}
			img{
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
			span{
				font-weight: 900;
				font-size: 18px;
				line-height: 25px;
				color: #3A3A3A;
				margin-left: 12px;
			}
		}
	}

	&__place{
		max-width: 370px;
		width: 100%;
		margin-right: 35px;
		.place__bottom{
			background: #FAFAFA;
			border-radius: 0px 0px 5px 5px;
			padding: 20px;
			li{
				font-family: Roboto;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;
				color: #424242;
				margin-bottom: 9px;
				&:last-child{
					margin-bottom: 0;
				}
				a{
					border-bottom: 1px dashed #000;
					transition: all .3s ease;
					&:hover{
						color: #F91942;
						border-bottom: 1px dashed #F91942;
					}
				}
				a,
				span{
					font-weight: normal;
				}
			}
		}
		.place__top{
			position: relative;
		}
		.place__photo{
			img{
				display: block;
			}
		}
		.place__text{
			position: absolute;
			bottom: 24px;
			left: 24px;
			right: 24px;
			.sides{
				display: flex;
				align-items: center;
				font-family: Roboto;
				font-size: 18px;
				line-height: 21px;
				color: #FFFFFF;
			}
			.rht{
				height: 35px;
				background: rgba(255, 255, 255, 0.4);
				backdrop-filter: blur(5px);
				border-radius: 39px;
				margin-left: 12px;
				max-width: 127px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.lft{
				background: #F91942;
				border-radius: 39px;
				height: 35px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			p{
				font-family: Roboto;
				margin-bottom: 20px;
				font-weight: 500;
				font-size: 24px;
				color: #FFFFFF;
			}
		}
	}
	&__list{
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #979797;
		border-radius: 5px;
		padding: 20px 24px;
		padding-left: 0;
		max-height: 425px;
		.list__ovf{
			height: 100%;
			overflow: auto;
			&::-webkit-scrollbar {
			    background: #F3F3F3;
				border-radius: 5px;
				width: 10px;
			}
			&::-webkit-scrollbar-thumb {
			    background: #F91942;
				border-radius: 5px;
			}
		}
		b{
			font-weight: 900;
			font-size: 18px;
			text-transform: uppercase;
			color: #3A3A3A;
			margin-bottom: 10px;
			display: block;
		}
		span{
			font-family: Roboto;
			display: block;
			font-size: 18px;
			line-height: 150%;
			color: #424242;
		}
		a{
			padding: 13px 24px;
			display: block;
			*{
				transition: all .3s ease;
			}
			&:hover{
				*{
					color: #F91942;
				}
			}
		}
		li{
			&:nth-child(2n + 2){
				background: #FAFAFA;
			}
		}
	}

	&__map{
		margin-bottom: 80px;
		iframe{
			width: 100%;
		}
	}

}



// MEDIA

@media screen and (max-width: 1024px) {
	.page-contacts__lft .lft__text p{
		font-size: 16px;
		line-height: 24px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.page-contacts__map{
		margin-bottom: 60px;
	}
	.page-inners input:not(input[type=submit]), .page-inners textarea{
		font-size: 16px;
		line-height: 19px;
	}
	.page-contacts__rht .inputs{
		grid-column-gap: 20px;
	}
	.page-contacts__rht .form__bottom{
		margin-top: 20px;
		img{
			max-width: 240px;
		}
	}
	.page-contacts__rht textarea{
		height: 140px;
	}
	.page-contacts__sides{
		margin-bottom: 30px;
	}
	.page-contacts__place,
	.page-contacts__lft{
		margin-right: 20px;
	}
	.page-contacts__list span,
	.page-contacts__list b{
		font-size: 16px;
	}
	.page-contacts__place .place__bottom li{
		font-size: 16px;
		line-height: normal;
	}
	.page-inners input{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 992px) {
	.page-contacts__sides{
		display: block;
	}
	.page-contacts__map{
		margin-bottom: 0;
		margin-left: -20px;
		margin-right: -20px;
		iframe{
			display: block;
		}
	}
	.page-contacts__lft{
		max-width: 100%;
		.lft__block{
			display: flex;
			align-items: center;
			margin-bottom: 30px;
		}
		.lft__text{
			max-width: 350px;
			margin-right: 28px;
			width: 100%;
		}
	}
	.page-contacts__lft .lft__soc,
	.page-contacts__lft .soc__list{
		width: 100%;
	}
	.page-contacts__place .place__top{
		width: 100%;
		max-width: 350px;
	}
	.page-contacts__place .place__photo{
		height: 100%;
		width: 100%;
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.page-contacts__place{
		display: flex;
		max-width: 100%;
		width: 100%;
		max-height: 180px;
		margin-bottom: 30px;
	}
	.page-contacts__list{
		max-height: 345px;
	}
	.page-contacts__list .list__ovf{
		max-height: 300px;
	}
	.page-contacts__place .place__bottom{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media screen and (max-width: 700px) {
	.page-contacts__lft .lft__block{
		display: block;
	}
	.page-contacts__lft .lft__text{
		max-width: 100%;
		margin-bottom: 30px;
	}
	.page-contacts__rht .inputs{
		display: block;
	}
	.page-contacts__rht .form__bottom{
		display: block;
		button{
			width: 100%;
			margin-top: 25px;
		}
	}
	.page-contacts__place{
		display: block;
		max-height: 100%;
	}
	.page-contacts__place .place__top{
		max-width: 100%;
	}
}


















