.page-country{

	margin-top: -27px;

	&__list{
		padding-bottom: 72px;
	}

	.page-index__banner{
		margin-bottom: 51px;
	}
	.banner__inner{
		background: url('../img/country/banner.jpg') no-repeat;
		padding-bottom: 0;
		min-height: 405px;
	}

	&__where{
		background: #FAFAFA;
		padding: 72px 0;
		.where__item{
			position: relative;
			height: 225px;
			width: 100%;
			border-radius: 5px;
			// overflow: hidden;
			border: 1px solid transparent;
			transition: all .3s ease;
			&:after{
				content: '';
				background: #F91942;
				height: 1px;
				width: 100%;
				position: absolute;
				bottom: -11px;
				left: 0;
				opacity: 0;
				transition: all .3s ease;
			}
			&:hover{
				border: 1px solid #F91942;
				&:after{
					opacity: 1;
				}
			}
			img{
				display: block;
				border-radius: 5px;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			.item__text{
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 81px;
				background: rgba(#000, .5);
				backdrop-filter: blur(5px);
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 22px;
				border-radius: 0 0 5px 5px;
			}
			h3{
				font-family: Roboto;
				font-weight: 500;
				font-size: 22px;
				line-height: 25px;
				color: #FFFFFF;
				margin-bottom: 8px;
			}
			p{
				font-family: Roboto;
				font-size: 18px;
				line-height: 21px;
				color: #FFFFFF;
			}
		}
		.where__block{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 32px;
			grid-row-gap: 36px;
			margin-top: 45px;
			&_2{
				margin-bottom: 54px;
				.where__item{
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.item__text{
					bottom: auto;
					left: auto;
					max-width: 225px;
					border-radius: 5px;
					text-align: center;
					padding-left: 0;
				}
			}
		}
	}

	.page-index__info{
		background: #fff;
	}

	&__find{
		background: #FAFAFA;
		padding: 72px 0;
		display: flex;
		align-items: center;
		.d-none{
			display: none;
		}
		.find__lft{
			margin-right: 639px;
			min-height: 369px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			h2{
				margin-bottom: 41px;
			}
			p{
				font-family: Roboto;
				font-size: 16px;
				line-height: 150%;
				color: #3A3A3A;
				max-width: 301px;
				margin-bottom: 43px;
			}
			button{
				background: #F91942;
				border: 1px solid #F91942;
				border-radius: 36px;
				font-weight: 900;
				font-size: 16px;
				line-height: 23px;
				padding: 11px 27px;
				text-transform: uppercase;
				color: #FFFFFF;
				cursor: pointer;
			}
		}
		.find__rht{
			position: absolute;
			right: 0;
			max-width: 50vw;
			width: 100%;
			height: 369px;
			display: flex;
			align-items: center;
		}
		.find__item{
			// max-width: 216px;
			min-width: 0;
			height: 100%;
			width: 25%;
			transition: all .3s ease;
			position: relative;
			overflow: hidden;
			&:hover{
				min-width: 432px;
				// max-width: 432px;
				width: 100%;
				transition: all .3s ease;
				.item__text{
					opacity: 1;
					transition: all .3s .3s ease;
					// margin-right: 153px;
				}
			}
		}
		.item__text{
			position: absolute;
			bottom: 18px;
			left: 18px;
			background: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(5px);
			border-radius: 5px;
			padding: 15px 18px;
			opacity: 0;
			transition: all .3s 0s ease;
			.bottom{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			span{
				font-family: Roboto;
				font-weight: 500;
				font-size: 18px;
				line-height: 21px;
				color: #FFFFFF;
				margin-right: 64px;
			}
			h3{
				margin-bottom: 13px;
				a{
					font-family: Roboto;
					font-weight: 500;
					font-size: 22px;
					line-height: 25px;
					color: #FFFFFF;
					&:hover{
						text-decoration-line: underline;
					}
				}
			}
			.stars{
				display: flex;
				align-items: center;
				.star{
					margin-right: 5px;
				}
				span{
					margin-right: 8px;
				}
			}
		}
		.item__photo{
			height: 100%;
			width: 100%;
			transition: all .3s ease;
			img{
				width: 100%;
				transition: all .3s ease;
				height: 100%;
				object-fit: cover;
			}
		}
		.find__sides{
			display: flex;
			align-items: center;
		}
	}

	&__locals{
		background: #FAFAFA;
		padding: 72px 0;
		overflow: hidden;
		.wrapper{
			position: relative;
			&:after{
				content: '';
				background: #FAFAFA;
				left: calc(-100% + 45px);
				top: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 2;
				display: block;
			}
		}
		.slick-list{
			overflow: visible;
		}
		h2{
			margin-bottom: 0;
		}
		.slider__top{
			margin-bottom: 45px;
		}
		.slider__item{
			position: relative;
			margin: 0 10px;
			outline: none;
			img{
				width: 100%;
			}
		}
		.slider__inner{
			margin: 0 -10px;

		}
		.switch__blocks{
			margin-top: 36px;
		}
		.item__bottom{
			position: absolute;
			left: 0;
			width: 100%;
			padding-left: 22px;
			padding-right: 22px;
			bottom: 27px;
			p{
				font-family: Roboto;
				font-size: 14px;
				line-height: 150%;
				color: #FFFFFF;
			}
			b{
				font-family: Roboto;
				font-weight: bold;
				font-size: 20px;
				line-height: 125%;
				text-transform: uppercase;
				color: #FFFFFF;
				margin-bottom: 16px;
				display: block;
			}
		}
	}

	&__prices{
		padding: 72px 0;
		p.subtitle{
			font-family: Roboto;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			text-transform: none;
			color: #3A3A3A;
		}
		h2{
			margin-bottom: 45px;
		}
		.prices__scales{
			display: flex;
			padding-top: 36px;
			padding-bottom: 22px;
			margin: 0 -10px;
		}
		.prices__march{
			display: flex;
			align-items: center;
			margin: 0 -10px;
			margin-bottom: 27px;
			&_tab{
				display: none;
			}
			li{
				width: 100%;
				text-align: center;
				margin: 0 10px;
				font-family: Roboto;
				font-size: 14px;
				line-height: 150%;
				color: #3A3A3A;
			}
		}
		.prices__scale{
			height: 225px;
			width: 100%;
			background: #FAFAFA;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			margin: 0 10px;
			span{
				font-weight: bold;
				font-size: 14px;
				line-height: 150%;
				margin-bottom: 8px;
				display: block;
				color: #3A3A3A;
			}
		}
		.prices__bottom{
			display: flex;
			align-items: center;
			span{
				font-family: Roboto;
				margin-left: 12px;
				font-size: 14px;
				line-height: 150%;
				color: #3A3A3A;
			}
		}
		.scale_done{
			background: rgba(249, 25, 66, 0.5);
			border: 1px solid #F91942;
			border-radius: 5px;
			height: 40%;
			width: 100%;
		}
	}

}


// MEDIA

@media screen and (max-width: 1024px) {
	.page-country__where .where__item{
		height: 162px;
	}
	.page-country__where .where__block{
		grid-column-gap: 24px;
		grid-row-gap: 27px;
	}
	.page-country__find .find__lft{
		margin-right: 0;
	}
	.page-country__find .find__rht{
		height: 252px;
		max-width: 60vw;
	}
	.page-country__find .find__lft{
		min-height: 252px;
	}
	.page-country__find h2.d-none{
		display: block;
	}
	.page-country__find .find__lft h2{
		display: none;
	}
	.page-country__find .find__item:hover{
		min-width: 90px;
	}
	.page-country__find .find__lft{
		max-width: 252px;
	}
	.page-country__where,
	.page-country__prices,
	.page-country__locals,
	.page-country__find{
		padding: 54px 0;
	}
	.page-country__prices .prices__march{
		display: none;
	}
	.page-country__list{
		padding-bottom: 54px;
	}
	.page-country__prices .prices__march_tab{
		display: flex;
	}
	.page-country__prices .prices__march li,
	.page-country__prices .prices__scale{
		min-width: 54px;
	}
	.prices__block{
		overflow: auto;
		&::-webkit-scrollbar {
		    border-radius: 8px;
		    height: 14px;
		    background: #E6E6E6;
		}
		&::-webkit-scrollbar-thumb {
		    background: #F91942;
		    border-radius: 8px;
		}
	}
	.page-country__prices .prices__bottom{
		margin-top: 27px;
	}
	
}

@media screen and (max-width: 992px) {
	.page-country{
		.banner__inner{
			background: url('../img/country/banner-mob.jpg') no-repeat;
			background-size: cover;
		}
	}
	.page-country__where .where__block{
		margin-top: 36px;
		&_2{
			margin-bottom: 45px;
		}
	}
	.slider__arrows{
		display: none;
	}
	.page-country__where .where__block{
		grid-template-columns: repeat(2, 1fr);
	}
	.page-country__where .where__item{
		height: 212px;
	}
	.page-country__find .find__lft{
		display: none;
	}
	.page-country__find .find__rht{
		height: auto;
		max-width: 100%;
		position: static;
		display: grid;
		grid-gap: 27px;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 27px;
	}
	.page-country__locals h2{
		font-size: 29px;
		line-height: 40px;
	}
	.page-country__locals .wrapper:after{
		left: calc(-100% + 18px);
	}
	.page-country__where,
	.page-country__find, .page-country__locals, .page-country__prices{
		padding: 45px 0;
	}
	.page-country__find h2.d-none{
		margin-bottom: 36px;
		font-size: 29px;
		line-height: 40px;
	}
	.page-country__find .find__item{
		width: 100%;
		border-radius: 5px;
		overflow: hidden;
	}
	.page-country__find .find__item .item__text{
		opacity: 1;
	}
	.page-country__find .find__item:hover{
		min-width: 0;
		height: 100%;
	}
	.page-country__find .subtitle.d-none{
		display: block;
	}
	
	.page-country__locals .slider__inner{
		margin-left: -133px;
	}
	.page-country__find h2.d-none,
	h2{
		font-size: 29px;
		line-height: 39px;
		margin-bottom: 45px;
	}
}

@media screen and (max-width: 700px){
	.page-country__locals h2{
		font-size: 25px;
		line-height: 34px;
	}
	.page-country__find h2.d-none,
	h2{
		font-size: 25px;
		line-height: 34px;
		margin-bottom: 36px;
	}
	
	.page-country__list{
		overflow: hidden;
	}
	.list__content{
		overflow: visible;
		border: none;
	}
	.banner__filters{
		margin-top: 18px;
	}
	.page-index__banner .banner__side{
		margin-bottom: 18px;
	}
	.banner__filters .filters__list{
		margin-left: 10px;
		margin-top: 18px;
	}
	.list__top{
		background: #F4F4F4;
		border: 1px solid #E2E2E2;
		padding: 18px;
		margin-left: -18px;
		width: calc(100% + 36px);
		flex-direction: row-reverse;
	}
	.list__top .list__count{
		font-family: Roboto;
		font-size: 14px;
		font-weight: normal;
		line-height: 17px;
		color: #424242;
	}
	.list__top .select__head{
		text-transform: none;
		font-family: Roboto;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #424242;
	}
	.list__top .select__body{
		left: auto;
		right: 0;
	}
	.page-country__locals .slider__inner{
		margin-left: -45px;
	}
}

@media screen and (max-width: 576px) {
	.page-country__where .where__block{
		grid-template-columns: 1fr;
		grid-gap: 18px;
	}
	.page-country__where .where__block{
		margin-top: 27px;
		&_2{
			margin-bottom: 45px;
		}
	}
	p.subtitle{
		font-size: 16px;
		line-height: 22px;
	}
	.page-country__where .where__block_2 .where__item{
		height: 144px;
	}
	.list__content_lots:after{
		z-index: 39;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) -11.06%, #FFFFFF 92.27%);
		left: -18px;
		width: calc(100% + 36px);
	}
	.banner__filters .filters__list{
		flex-wrap: wrap;
	}
	.banner__filters li{
		margin-bottom: 10px;
	}
	.page-country__find {
		overflow: hidden;
	}
	.page-country__find .find__rht{
		display: block;
		// max-width: 288px;
		height: 315px;
		margin-left: -10px;
		margin-right: -10px;
	}
	.page-country__find .slick-list{
		overflow: visible;
	}
	.page-country__find .item__text{
		left: 10px;
	}
	.page-country__find .item__text span{
		margin-right: 27px;
	}
	.page-country__find .find__item{
		height: 315px;
		margin: 0 10px;
		outline: none;
		&:hover{
			height: 315px;
		}
	}
}

@media screen and (max-width: 400px) {
	.page-country__locals h2{
		font-size: 22px;
		line-height: 29px;
	}
	.page-country__find h2.d-none,
	h2{
		font-size: 22px;
		line-height: 29px;
		margin-bottom: 27px;
	}
}


























