footer{
	background: #FAFAFA;
	padding-top: 63px;
	padding-bottom: 27px;
}

.footer{
	&__side{
		display: flex;
		// align-items: center;
	}
	&__payments{
		display: flex;
		align-items: center;
		&_mob{
			display: none;
		}
		li{
			margin-right: 8px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	&__top{
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid #C4C4C4;
		padding-bottom: 50px;
		p{
			font-family: Roboto;
			font-size: 13px;
			color: #424242;
			display: none;
		}
	}
	&__bottom{
		display: flex;
		padding-top: 21px;
		a{
			display: flex;
			align-items: center;
			transition: all .3s ease;
			&:hover{
				color: #F91942;
			}
			&:before{
				content: '';
				background: #A0A0A0;
				border-radius: 50%;
				min-width: 4px;
				width: 4px;
				height: 4px;
				display: block;
				margin: 0 11px;
			}
		}
		a,
		p{
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #A0A0A0;
		}
	}
	&__contacts{
		margin-left: auto;
		display: flex;
		align-items: center;
		li{
			margin-left: 14px;
			path{
				fill: #979797;
				transition: all .3s ease;
			}
			&.con-vk{
				&:hover{
					path{
						fill: #0077FF;
					}
				}
			}
			&.con-facebook{
				&:hover{
					path{
						fill: #4E6297
					}
				}
			}
			&.con-inst{
				position: relative;
				.svg-hover{
					position: absolute;
					left: 0;
					opacity: 0;
					top: 0;
					transition: all .3s ease;
				}
				img{
					display: block;
				}
				&:hover{
					.svg-hover{
						opacity: 1;
					}
				}
			}
		}
		a{
			&:before{
				display: none;
			}
		}
	}
	&__logo{
		margin-right: auto;
		display: flex;
		align-items: center;
		img{
			margin-right: 8px;
			width: 41px;
			display: block;
		}
		span{
			font-size: 20px;
			line-height: 27px;
			font-weight: 300;
			color: #3A3A3A;
			span{
				color: #F91942;
			}
		}
	}
	&__email{
		font-size: 18px;
		color: #3A3A3A;
		border-bottom: 1px dashed #3A3A3A;
		transition: all .3s ease;
		&:hover{
			color: #F91942;
			border-bottom: 1px dashed #F91942;
		}
	}
	&__phone{
		font-weight: 900;
		font-size: 27px;
		line-height: 37px;
		text-transform: uppercase;
		color: #3A3A3A;
		transition: all .3s ease;
		&:hover{
			color: #F91942;
		}
	}
	&__rht{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		a{
			display: block;
		}
	}
	&__lft{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__socials{
		display: flex;
		align-items: center;
		li{
			width: 36px;
			height: 36px;
			margin-right: 11px;
			border-radius: 50%;
			transition: all .3s ease;
			img{
				display: block;
			}
			&:last-child{
				margin-right: 0;
			}
			&.soc-viber{
				&:hover{
					box-shadow: 0px 2px 8px rgba(111, 48, 154, 0.8);
				}
			}
			&.soc-whatsapp{
				&:hover{
					box-shadow: 0px 2px 8px #48C95F;
				}
			}
			&.soc-telegram{
				&:hover{
					box-shadow: 0px 2px 8px #2F89CE;
				}
			}
			&.soc-messanger{
				&:hover{
					box-shadow: 0px 2px 8px #007FFF;
				}
			}
			&.soc-skype{
				&:hover{
					box-shadow: 0px 2px 8px #00A9E7;
				}
			}
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	&__menu{
		display: flex;
		justify-content: space-between;
		max-width: 360px;
		width: 100%;
		ul{
			margin: -23px 0;
		}
		a{
			font-family: Roboto;
			font-size: 18px;
			color: #3A3A3A;
			margin: 18px 0;
			display: block;
			transition: all .3s ease;
			&:hover{
				color: #F91942;
			}
		}
	}
}

.cookies{
	position: fixed;
	bottom: 72px;
	left: 50%;
	transform: translateX(-50%);
	background: #FFFFFF;
	border: 1px solid #F91942;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
	border-radius: 10px;
	padding: 34px 22px;
	display: flex;
	align-items: center;
	max-width: 1062px;
	width: 100%;
	z-index: 999;
	p{
		font-family: Roboto;
		font-size: 14px;
		line-height: 150%;
		color: #3A3A3A;
	}
	button{
		background: #F91942;
		border-radius: 23px;
		margin-left: 27px;
		font-weight: 900;
		font-size: 16px;
		line-height: 23px;
		text-transform: uppercase;
		color: #FFFFFF;
		border: none;
		cursor: pointer;
		padding: 10px 45px;
	}
}





// MEDIA

@media screen and (max-width: 1024px) {
	.footer__menu{
		max-width: 252px;
	}
	.footer__menu ul{
		margin: -18px 0;
	}
	.footer__menu a{
		font-size: 14px;
		margin: 18px 0;
	}
	.footer__phone{
		font-size: 22px;
		text-align: right;
		line-height: normal;
	}
	.footer__socials{
		justify-content: flex-end;
	}
	.footer__top{
		padding-bottom: 54px;
	}
	.footer__socials li{
		width: 27px;
		height: 27px;
		margin-right: 9px;
	}
	.footer__email{
		font-size: 14px;
		width: fit-content;
		margin-left: auto;
	}
}

@media screen and (max-width: 992px) {
	.footer__menu{
		max-width: 204px;	
	}
	.footer__side{
		display: block;
	}
	.footer__bottom a{
		padding-left: 22px;
		position: relative;
		&:before{
			position: absolute;
			display: inline;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.footer__contacts li svg,
	.footer__contacts li,
	.footer__contacts li a{
		padding: 0;
		position: static;
		display: block;
		&:before{
			display: none;
			transform: none;
			position: static;
		}
	}
	.footer__bottom a, .footer__bottom p{
		display: inline;
		width: auto;
	}
	.footer__menu a{
		font-size: 13px;
	}
	.footer__phone{
		font-size: 13px;
		line-height: 17px;
		text-align: left;
	}
	.footer__email{
		font-size: 13px;
		border-bottom: none;
		margin-left: 0;
		&:hover{
			border-bottom: none;
			
		}
	}
	.footer__bottom a, .footer__bottom p{
		font-size: 13px;
		line-height: normal;
	}
	.footer__top p{
		display: block;
	}
	.footer__logo span{
		font-size: 18px;
	}
	.footer__top{
		padding-bottom: 31px;
	}
}

@media screen and (max-width: 700px) {
	.footer__top{
		display: block;
	}
	.footer__payments{
		display: none;
		&_mob{
			display: flex;
			margin-top: 45px;
		}
	}
	.footer__logo span{
		font-size: 31px;
	}
	footer{
		padding: 45px 0;
		padding-bottom: 27px;
	}
	.footer__lft{
		margin-bottom: 36px;
	}
	.footer__menu a{
		font-size: 14px;

	}
	.footer__menu{
		max-width: 257px;
		margin-bottom: 27px;
	}
	.footer__top p{
		display: none;
	}
	.footer__email{
		font-family: Roboto;
		font-size: 14px;
		margin-bottom: 23px;
		border-bottom: 1px dashed #3A3A3A;
		&:hover{
			border-bottom: 1px dashed #F91942;
		}
	}
	.footer__phone{
		font-size: 22px;
		line-height: 30px;
	}
	.footer__socials{
		justify-content: flex-start;
		margin-top: 21px;
	}
	.footer__socials li{
		width: 36px;
		height: 36px;
		margin-right: 11px;
	}
	.footer__contacts{
		width: 100%;
		margin-top: 27px;
	}
	.footer__bottom{
		flex-wrap: wrap;
	}
	.footer__contacts li{
		margin-right: 14px;
		margin-left: 0;
	}
	.cookies{
		bottom: 10px;
		padding: 10px;
		left: 10px;
		right: 10px;
		width: auto;
		transform: translateX(0);
	}
	.cookies p{
		font-size: 14px;
	}
	.cookies button{
		margin-left: 10px;
	}
}

@media screen and (max-width: 400px) {
	.footer__logo span{
		font-size: 25px;
	}
	.footer__menu{
		max-width: 100%;
		display: block;
		ul{
			margin: 0;
		}
	}
	.footer__top{
		padding-bottom: 25px;
	}
}



