.page-forCompanies{

	margin-bottom: 72px;

	h1{
		font-weight: 900;
		font-size: 36px;
		line-height: 50px;
		text-transform: uppercase;
		color: #3A3A3A;
		margin-bottom: 45px;
	}

	&__sides{
		display: flex;
		padding-bottom: 45px;
		margin-bottom: 45px;
		border-bottom: 2px solid #F91942;
		.rht{
			width: 100%;
			max-width: 518px;
			img{
				width: 100%;
			}
		}
		.lft{
			background: #FAFAFA;
			border-radius: 10px;
			padding: 22px;
			margin-right: 27px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			button{
				background: #F91942;
				border: 1px solid #F91942;
				height: 45px;
				padding: 0 27px;
				font-weight: 900;
				font-size: 18px;
				line-height: 24px;
				margin-top: auto;
				text-transform: uppercase;
				color: #FFFFFF;
				border-radius: 36px;
			}
			p{
				font-family: 'Roboto';
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				color: #3A3A3A;
			}
		}
	}

	h2{
		margin-top: 72px;
		margin-bottom: 36px;
	}

	&__loc{
		background: #FAFAFA;
		border-radius: 5px;
		padding: 27px 22px;
		p{
			font-family: 'Roboto';
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			color: #424242;
			margin-bottom: 10px;
		}
		.page-affiliate__numbers{
			margin-top: 27px;
			padding-top: 27px;
			border-top: 2px solid #F91942;
			ul{
				display: flex;
				justify-content: space-around;
			}
		}
	}

	&__become{
		display: flex;
		align-items: center;
		a{
			text-decoration: underline;
		}
		button{
			background: #F91942;
			border: 1px solid #F91942;
			max-width: 324px;
			width: 100%;
			height: 45px;
			border-radius: 36px;
			font-weight: 900;
			font-size: 18px;
			line-height: 24px;
			text-transform: uppercase;
			color: #FFFFFF;
		}
		p{
			font-family: 'Roboto';
			margin-left: 27px;
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			color: #424242;
		}
	}

	&__adv{
		display: grid;
		grid-row-gap: 27px;
		grid-column-gap: 36px;
		grid-template-columns: repeat(2, 1fr);
		h3{
			font-weight: 900;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			color: #3A3A3A;
			margin-bottom: 18px;
		}
		p{
			font-family: 'Roboto';
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			color: #424242;
		}
		.avg__item{
			background: #FAFAFA;
			border-radius: 5px;
			padding: 27px 22px;
		}
	}

	&__block{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 32px;
		.block__item{
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FAFAFA 49.72%);
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-top: 23px;
			padding-bottom: 27px;
			p{
				font-family: 'Roboto';
				margin-top: 23px;
				font-weight: 400;
				font-size: 18px;
				line-height: 150%;
				text-align: center;
				color: #424242;
			}
		}
	}
}


// MEDIA

@media screen and (max-width: 1024px) {
	.page-forCompanies__loc p,
	.page-forCompanies__adv p,
	.page-forCompanies__block .block__item p,
	.page-forCompanies__sides .lft p{
		font-size: 14px;
		line-height: 22px;
	}
	.page-forCompanies__block .block__item p{
		margin-top: 18px;
	}
	.page-forCompanies__block .block__item{
		padding-top: 18px;
		padding-bottom: 27px;
	}
	.page-forCompanies__sides .lft{
		padding: 18px 18px 27px;
		margin-right: 27px;
	}

	.page-forCompanies__block .item__ico{
		max-width: 72px;
		img{
			width: 100%;
			display: block;
		}
	}
	.page-forCompanies h2{
		margin-top: 54px;
	}
	.page-forCompanies__adv{
		grid-column-gap: 32px;
	}
	.page-forCompanies__adv .avg__item{
		padding: 27px 18px;
	}
	.page-forCompanies__adv h3{
		font-size: 18px;
		line-height: 24px;
	}
	.page-forCompanies__block{
		grid-gap: 24px;
	}
	.page-forCompanies__loc .page-affiliate__numbers ul{
		display: grid;
		grid-template-columns: repeat (4, auto);
	}
	.page-forCompanies{
		margin-bottom: 54px;
	}
}

@media screen and (max-width: 992px) {
	.page-forCompanies h1{
		margin-bottom: 27px;
		font-size: 29px;
		line-height: 40px;
	}
	.page-forCompanies__sides .lft button{
		margin-top: 27px;
	}
	.page-forCompanies__sides .rht img{
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}
	.page-forCompanies__block{
		grid-gap: 17px;
	}
	.page-forCompanies h2{
		margin-top: 45px;
	}
	.page-forCompanies__adv{
		grid-template-columns: 1fr;
		grid-gap: 18px;
	}
	.page-forCompanies__become p{
		font-size: 14px;
		line-height: 22px;
	}
	.page-forCompanies h2{
		font-size: 29px;
		line-height: 40px;
	}
}

@media screen and (max-width: 700px) {
	.page-forCompanies{
		margin-bottom: 45px;
	}
	.page-forCompanies h1{
		font-size: 25px;
		line-height: 34px;
		margin-bottom: 18px;
	}
	.page-forCompanies__sides{
		display: block;
	}
	.page-forCompanies__sides .rht{
		height: 180px;
	}
	.page-forCompanies__block{
		grid-template-columns: 1fr;
		grid-gap: 18px;
	}
	.page-forCompanies__sides .lft{
		margin-bottom: 18px;
	}
	.page-forCompanies__block .block__item p{
		max-width: 155px;
		margin-left: auto;
		margin-right: auto;
	}
	.page-forCompanies h2{
		font-size: 25px;
		line-height: 34px;
		margin-bottom: 27px;
	}
	.page-forCompanies__become{
		display: block;
	}
	.page-forCompanies__become p{
		margin-left: 0;
		margin-top: 27px;
		text-align: center;
	}
	.page-forCompanies__become button{
		max-width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.page-forCompanies h1{
		font-size: 22px;
		line-height: 30px;
	}
	.page-forCompanies__sides .lft{
		margin-left: -18px;
		margin-right: -18px;
		width: auto;
		border-radius: 0;
	}
	.page-forCompanies__sides .lft button{
		max-width: 100%;
		width: 100%;
	}
	.page-forCompanies__sides{
		padding-bottom: 27px;
		margin-bottom: 27px;
	}
	.page-forCompanies__loc,
	.page-forCompanies__adv,
	.page-forCompanies__block{
		margin-left: -18px;
		margin-right: -18px;
	}
}




















