header{
	margin-bottom: 45px;
}
.header{

	// --------------
	// header menu

	&__scrolldown{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		z-index: -99;
		transition: all 0s .3s ease;
		.select{
			&__head{
				margin: -14px -18px;
				padding: 14px 18px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				&:after{
					content: '';
					background: url('../img/svg/arrDownRedMob.svg') no-repeat;
					background-size: contain;
					min-width: 18px;
					width: 18px;
					height: 18px;
					transition: all .3s ease;
				}
			}
			&_active{
				.select__head{
					&:after{
						transform: rotate(180deg);
					}
				}
			}
			&__body{
				span{
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
				}
				.option{
					margin-bottom: 10px;
					cursor: pointer;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
		.scrolldown__close{
			background: #FAFAFA;
			border-radius: 3px;
			padding: 11px;
			cursor: pointer;
			transition: all .3s ease;
			img{
				display: block;
				transition: all .3s ease;
			}
			&:hover{
				background: #F91942;
				img{
					filter: brightness(3);
				}
			}
		}
		.scrolldown__menu{
			background: #FAFAFA;
			border: 1px solid #E9E9E9;
			padding: 14px 18px;
			border-radius: 10px;
			font-size: 18px;
			font-weight: bold;
			line-height: 24px;
			color: #3A3A3A;
			display: block;
			margin-bottom: 18px;
		}
		.scrolldown__login{
			background: #FAFAFA;
			border: 1px solid #E9E9E9;
			border-radius: 10px;
			width: 100%;
			height: 68px;
			display: flex;
			align-items: center;
			font-weight: bold;
			font-size: 18px;
			line-height: 24px;
			text-transform: uppercase;
			color: #3A3A3A;
			padding-left: 18px;
			margin-top: 18px;
			margin-bottom: 27px;
			&.scrolldown__login{
				display: block;
				height: auto;
				padding: 14px 18px;
				.select__body{
					a{
						padding: 0;
						display: flex;
						align-items: center;
						padding: 11px 0;
						&:hover{
							background: transparent;
							span{
								color: #F91942;
							}
						}
					}
					span{
						margin-left: 14px;
						font-family: 'Roboto';
						font-weight: 600;
						font-size: 16px;
						line-height: 19px;
						text-transform: none;
						color: #3A3A3A;
						transition: all .3s ease;
					}
					img{
						min-width: 16px;
						width: 16px;
					}
					.logout{
						padding-top: 14px;
						margin-top: 10px;
						border-top: 1px solid #D8D8D8;
						border-radius: 0;
						span{
							color: #AAAAAA;
							text-transform: uppercase;
						}
					}
				}
				.select__head{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					span{
						font-weight: 300;
						font-size: 16px;
						line-height: 23px;
						color: #3A3A3A;
						margin-right: auto;
					}
					img{
						width: 41px;
						height: 41px;
						border-radius: 50%;
						margin-right: 11px;
					}
				}
			}
		}
		.scrolldown__top{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 14px 0;
			border-bottom: 1px solid #DCDCDC;
			p{
				font-size: 22px;
				line-height: 30px;
				color: #000000;
			}
		}
		.scrolldown__inner{
			position: relative;
			z-index: 2;
			width: 324px;
			height: 100%;
			margin-left: auto;
			background: #FFFFFF;
			padding: 0 18px;
			right: -324px;
			transition: all .3s ease;
		}
		.scrolldown__bottom{
			height: calc(100vh - 77px);
			overflow: auto;
		}
		.scrolldown__bgd{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
			opacity: 0;
			z-index: -99;
			transition: all .3s ease;
		}
		&_open{
			z-index: 999;
			transition: all 0s 0s ease;
			.scrolldown__inner{
				right: 0;
			}
			.scrolldown__bgd{
				opacity: 1;
				z-index: 1;
			}
		}

		.select__body{
			position: static;
			box-shadow: none;
			background: transparent;
			padding-top: 18px;
		}
	}

	// --------------
	// header top
	&__top{
		background: #FAFAFA;
		padding-top: 8px;
		padding-bottom: 11px;
		position: relative;
		z-index: 11;
		.wrapper{
			display: flex;
			align-items: center;
		}
	}
	&__regions{
		margin-left: auto;
		.select{
			.select__ovf{
				overflow: auto;
				max-height: 340px;
				padding-right: 36px;
				margin-left: -22px;
				padding-left: 22px;
				&::-webkit-scrollbar {
				    background: #F3F3F3;
					border-radius: 5px;
					width: 10px;
				}
				&::-webkit-scrollbar-thumb {
				    background: #F91942;
					border-radius: 5px;
				}
			}
			.select__body{
				padding: 18px 22px;
				padding-right: 5px;
				margin-top: 5px;
				width: auto;
			}
			.option{
				// margin-bottom: 11px;
				cursor: pointer;
				padding: 6px 22px;
				margin-left: -22px;
				margin-right: -18px;
				&:hover{
					background: rgba(191, 191, 191, 0.2);
				}
				span{
					font-family: Roboto;
					font-size: 18px;
					line-height: 21px;
					color: #424242;
					transition: all .3s ease;
				}
				&_check{
					span{
						color: #F91942;
					}
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
			&__head{
				font-weight: 300;
				font-size: 16px;
				line-height: 23px;
				color: #3A3A3A;
				display: flex;
				align-items: center;
				position: relative;
				&:before{
					content: '';
					border-bottom: 1px dashed #3A3A3A;
					bottom: 0;
					left: 17px;
					width: calc(100% - 30px);
					position: absolute;
				}
				&:after{
					content: '';
					background: url('../img/svg/arrBlackDown.svg') no-repeat;
					background-size: contain;
					width: 9px;
					height: 5px;
					margin-left: 5px;
					display: block;
				}
			}
		}
	}
	&__nav{
		ul{
			display: flex;
			align-items: center;
			margin: 0 -14px;
		}
		a{
			font-weight: 300;
			font-size: 16px;
			line-height: 23px;
			color: #3A3A3A;
			padding: 2px 14px;
			border-radius: 34px;
			transition: all .3s ease;
			&:hover{
				// background: rgba(249, 25, 66, 0.1);
				color: #F91942;
			}
		}
	}

	// --------------
	// header bottom



	&__burger{
		margin-left: 17px;
		display: none;
		.line{
			background: #F91942;
			width: 31px;
			height: 3px;
			margin: 7px 0;
		}
	}
	&__bottom{
		border-bottom: 1px solid #DCDCDC;
		padding: 11px 0;
		position: relative;
		z-index: 10;
		.wrapper{
			display: flex;
			align-items: center;
		}
		.select{
			&_active{
				.select__head{
					background: rgba(249, 25, 66, 0.1);
					&:after{
						transform: scaleY(-1);
					}
				}
			}
			&__head{
				display: flex;
				align-items: center;
				border-radius: 34px;
				font-weight: bold;
				font-size: 16px;
				line-height: 23px;
				text-transform: uppercase;
				color: #3A3A3A;
				padding: 7px 14px;
				&:hover{
					background: rgba(249, 25, 66, 0.1);
				}
				&:after{
					content: '';
					background: url('../img/svg/red-arr-down.svg') no-repeat;
					background-size: contain;
					width: 8px;
					height: 5px;
					display: block;
					margin-left: 8px;
					transition: all .3s ease;
				}
			}
		}
	}
	&__login{
		border-left: 1px solid #DCDCDC;
		margin-left: 10px;
		padding-left: 10px;
		&_user{
			.akkordeon{
				&__head{
					display: flex;
					align-items: center;
					img{
						transition: all .3s ease;
					}
				}
				&__body{
					padding: 18px;
					background: #FAFAFA;
					box-shadow: 1px -1px 12px rgba(0, 0, 0, 0.1);
					position: absolute;
					width: 180px;
					margin-top: 10px;
					a{
						padding: 0;
						display: flex;
						align-items: center;
						padding: 6px 0;
						&:hover{
							background: transparent;
							span{
								color: #F91942;
							}
						}
					}
					span{
						margin-left: 14px;
						font-family: 'Roboto';
						font-weight: 700;
						font-size: 16px;
						line-height: 19px;
						text-transform: uppercase;
						color: #3A3A3A;
						transition: all .3s ease;
					}
					img{
						min-width: 16px;
						width: 16px;
					}
					.logout{
						padding-top: 14px;
						margin-top: 18px;
						border-top: 1px solid #D8D8D8;
						border-radius: 0;
						span{
							color: #AAAAAA;
						}
					}
				}
				&_active{
					.akkordeon__head{
						.head__arr{
							img{
								transform: rotate(180deg);
							}
						}
					}
				}
			}
			.head__photo{
				width: 41px;
				height: 41px;
				border-radius: 50%;
				margin-right: 8px;
				img{
					width: 100%;
					border-radius: 50%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		a{			
			font-weight: bold;
			font-size: 16px;
			line-height: 23px;
			text-transform: uppercase;
			color: #3A3A3A;
			border-radius: 34px;
			padding: 8px 14px;
			transition: all .3s ease;
			&:hover{
				color: #F91942;
				background: rgba(249, 25, 66, 0.1);

			}
		}
	}
	&__info{
		border-right: 1px solid #DCDCDC;
		margin-right: 23px;
		padding-right: 23px;
		ul{
			display: flex;
			align-items: center;
			margin: 0 -14px;
		}
		a{
			font-weight: bold;
			font-size: 16px;
			line-height: 23px;
			color: #3A3A3A;
			transition: all .3s ease;
			margin: 0 14px;
			&:hover{
				color: #F91942;
			}
		}
	}
	&__logo{
		margin-right: auto;
		display: flex;
		align-items: center;
		img{
			margin-right: 8px;
		}
		span{
			font-size: 18px;
			line-height: 24px;
			font-weight: 300;
			color: #3A3A3A;
			span{
				color: #F91942;
			}
		}
	}
	&__currency{
		margin-left: 4px;
		white-space: nowrap;
		.select__ovf{
			overflow: auto;
			// margin-top: 10px;
			// margin-bottom: 10px;
			margin-left: -22px;
			padding-left: 22px;
			max-height: 464px;
			padding-right: 36px;
			&::-webkit-scrollbar {
			    background: #F3F3F3;
				border-radius: 5px;
				width: 10px;
			}
			&::-webkit-scrollbar-thumb {
			    background: #F91942;
				border-radius: 5px;
			}
		}
		.select__body{
			padding: 18px 22px;
			padding-right: 5px;
			margin-top: 5px;
			width: auto;
			span{
				font-weight: normal;
			}
		}
		.option{
			// margin-bottom: 11px;
			cursor: pointer;
			padding: 6px 22px;
			margin-left: -22px;
			margin-right: -36px;
			&_check{
				*{
					color: #F91942;
				}
			}
			&:hover{
				background: rgba(191, 191, 191, 0.2);
			}
			*{
				transition: all .3s ease;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		span{
			// font-family: Roboto;
			font-size: 18px;
			line-height: 21px;
			font-weight: 400;
			color: #424242;
		}
		b{
			font-size: 18px;
			line-height: 21px;
			text-transform: uppercase;
			color: #424242;
		}
	}
	&__lang{
		margin-right: 4px;
		.select__body{
			padding: 19px 22px;
			margin-top: 5px;
			border-radius: 5px;
		}
		.option{
			display: flex;
			align-items: center;
			padding: 6px 22px;
			margin-left: -22px;
			margin-right: -22px;
			&_check{
				*{
					color: #F91942;
				}
			}
			&:hover{
				background: rgba(191, 191, 191, 0.2);
			}
			*{
				transition: all .3s ease;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		span{
			// font-family: Roboto;
			font-size: 18px;
			line-height: 21px;
			font-weight: 400;
			// text-transform: uppercase;
			color: #424242;
		}
		img{
			margin-right: 11px;
		}
	}
}


// MEDIA

@media screen and (max-width: 1500px){
	.header__login_user .akkordeon__body{
		margin-left: -117px;
	}
}

@media screen and (max-width: 1024px){
	.header__nav a{
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 992px){
	.header__top{
		display: none;
	}
	.header__info{
		display: none;
	}
	.header__burger{
		display: block;
	}
}

@media screen and (max-width: 700px){
	.header__login,
	.header__currency,
	.header__lang{
		display: none;
	}
}






