.page-mySettings{

	margin-bottom: 90px;

	&__sides{
		display: flex;
	}

	.messanger-list{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: -11px;
	}
	.messanger-list li{
		margin-right: 11px;
		margin-top: 11px;
		background: #FFFFFF;
		border: 1px solid #E6E6E6;
		display: flex;
		align-items: center;
		padding: 8px 11px;
		width: fit-content;
		border-radius: 5px;
		border: 1px solid #CDCDCD;
		span{
			font-family: Roboto;
			font-size: 14px;
			line-height: 17px;
			color: #3A3A3A;
		}
		button{
			margin-left: 11px;
			background: transparent;
			border: none;
			display: block;
			width: 13px;
			text-align: center;
		}
		img{
			display: block;
			cursor: pointer;
			width: 8px;
			transition: all .3s ease;
			margin: 0 auto;
			&:hover{
				width: 13px;
			}
		}
	}

	&__photo{
		max-width: 324px;
		width: 100%;
		margin-right: 32px;
		.photo__inner{
			background: #FAFAFA;
			border: 2px dashed #CDCDCD;
			padding: 18px;
			max-width: 324px;
			width: 100%;
			height: 324px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 5px;
			}
			&_none{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				height: 100%;
				background: #EAEAEA;
				border-radius: 5px;
				padding: 18px;
				p{
					font-family: 'Roboto';
					font-weight: 400;
					font-size: 18px;
					line-height: 21px;
					color: #3A3A3A;
				}
				img{
					width: 63px;
					display: block;
					height: auto;
					margin-bottom: 10px;
				}
			}
		}
		.photo__top{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 14px;
			b{
				font-weight: 900;
				font-size: 18px;
				line-height: 24px;
				text-transform: uppercase;
				color: #8A8A8A;
			}
			.clear{
				display: flex;
				align-items: center;
				font-weight: 900;
				font-size: 18px;
				line-height: 24px;
				text-transform: uppercase;
				color: #F91942;
				border: none;
				cursor: pointer;
				background: transparent;
				span{
					margin-right: 8px;
				}
			}
		}
	}

	&__info{
		width: 100%;
		display: grid;
		grid-column-gap: 32px;
		grid-row-gap: 36px;
		grid-template-columns: repeat(2, 1fr);
		.block-submit{
			height: 45px;
			background: #F91942;
			border-radius: 41px;
			max-width: 234px;
			width: 100%;
			font-weight: 900;
			font-size: 18px;
			line-height: 24px;
			text-transform: uppercase;
			color: #FFFFFF;
			display: block;
			margin-top: 27px;
			margin-left: auto;
		}
		label{
			display: block;
			margin-bottom: 22px;
			span{
				font-weight: 900;
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 14px;
				display: block;
				text-transform: uppercase;
				color: #8A8A8A;
			}
		}
	}
}

// MEDIA

@media screen and (max-width: 1024px) {
	.page-mySettings__photo .photo__inner{
		max-width: 225px;
		height: 225px;
		padding: 13px;
	}
	.page-mySettings__photo{
		max-width: 225px;
	}
	.page-mySettings__photo .photo__top .clear img{
		width: 16px;
	}
	.page-mySettings__photo .photo__top .clear span,
	.page-mySettings__photo .photo__top b{
		font-size: 16px;
		line-height: normal;
	}
	.page-mySettings__photo .photo__top{
		margin-bottom: 12px;
	}
	.page-mySettings__info label{
		margin-bottom: 18px;
	}
	.page-mySettings__info label span{
		font-size: 16px;
		line-height: normal;
		margin-bottom: 13px;
	}
	.page-mySettings__info .block-submit{
		margin-top: 18px;
	}
}

@media screen and (max-width: 992px) {
	.page-mySettings__info{
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 700px) {
	.page-mySettings__sides{
		display: block;
	}
	.page-mySettings__photo .photo__inner{
		max-width: 288px;
		height: 288px;
	}
	.page-mySettings__photo{
		max-width: 288px;
		margin-bottom: 36px;
	}
	.page-mySettings__info .block-submit{
		margin-left: auto;
		margin-right: auto;
		max-width: 324px;
		margin-top: 27px;
	}
}

@media screen and (max-width: 400px) {
	.page-mySettings__photo .photo__inner,
	.page-mySettings__photo{
		max-width: 100%;
		height: auto;
	}
}









