.page-post{

	&__banner{
		margin-top: 72px;
		.banner__center{
			margin-top: 0;
		}
	}


	&__img{
		img{
			width: 100%;
		}
	}
	&__reply{
		margin-top: 54px;
		.reply__block{
			background: #FAFAFA;
			border-radius: 10px;
			padding: 22px;
		}
		textarea{
			height: 137px;
			background: #FFFFFF;
			border-radius: 10px;
			font-family: Roboto;
			padding: 22px;
			font-size: 18px;
			line-height: 150%;
			color: #424242;
		}
		button{
			background: #F91942;
			border-radius: 35px;
			margin-top: 22px;
			margin-left: auto;
			display: block;
			font-weight: 900;
			font-size: 18px;
			line-height: 24px;
			height: 45px;
			max-width: 245px;
			width: 100%;
			text-transform: uppercase;
			color: #FFFFFF;
			border: none;
		}
	}
	&__comments{
		margin-top: 72px;
		.comments__item{
			background: #FAFAFA;
			border-radius: 10px;
			padding: 27px 22px;
			margin-bottom: 18px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.item__owner{
			display: flex;
			align-items: center;
			img{
				border: 2px solid #FFFFFF;
				border-radius: 50%;
				width: 54px;
				height: 54px;
			}
		}
		.item__text{
			margin-top: 18px;
		}
		.item__top{
			display: flex;
			align-items: center;
			justify-content: space-between;
			span{
				margin-left: 18px;
			}
		}
		data,
		p,
		span{
			font-family: Roboto;
			font-size: 18px;
			line-height: 150%;
			color: #3A3A3A;
		}
	}
	&__owner{
		border-top: 2px solid #F91942;
		margin-top: 36px;
		padding-top: 36px;
		.owner__top{
			display: flex;
			align-items: center;
			justify-content: space-between;
			span{
				font-family: Roboto;
				font-size: 18px;
				line-height: 150%;
				color: #3A3A3A;
			}
		}
		.owner__date{
			span{
				margin-left: 14px;
			}
		}
		.owner__blockquotes{
			margin-top: 14px;
			p{
				display: inline;
			}
		}
		.owner__things{
			background: #ECECEC;
			border-radius: 35px;
			font-family: Roboto;
			font-size: 16px;
			line-height: 19px;
			color: #979797;
			padding: 7px 14px;
		}
		.owner__soc{
			display: flex;
			align-items: center;
			a{
				width: 36px;
				height: 36px;
				border-radius: 50%;
				margin-left: 8px;
			}
			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.owner__bottom{
			margin-top: 36px;
			padding-top: 27px;
			border-top: 2px solid #DFDFDF;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.owner__persone{
			display: flex;
			align-items: center;
			.owner__date{
				display: none;
			}
			span{
				margin-left: 11px;
			}
			img{
				border-radius: 50%;
				width: 36px;
				height: 36px;
				border: 1px solid #F91942;
			}
		}
	}
	&__nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 27px;
		.nav__next,
		.nav__prev{
			display: flex;
			&:hover{
				b{
					color: #F91942;
				}
				path{
					fill: #F91942
				}
			}
		}
		.nav__prev{
			svg{
				margin-right: 8px;
				margin-top: 2px;
			}
		}
		.nav__next{
			text-align: right;
			svg{
				margin-left: 8px;
				margin-top: 2px;
			}
		}
		b{
			font-family: Roboto;
			font-weight: bold;
			font-size: 20px;
			line-height: 125%;
			text-transform: uppercase;
			color: #3A3A3A;
			margin-bottom: 10px;
		}
		small{
			font-family: Roboto;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			color: #3A3A3A;
		}
		svg{
			display: block;
			path{
				transition: all .3s ease;
			}
		}
		b,
		small{
			display: block;
			transition: all .3s ease;
		}
	}
	&__blog{
		background: #FAFAFA;
		border-radius: 10px;
		padding: 36px 22px;
		p{
			font-family: Roboto;
			font-weight: normal;
			font-size: 18px;
			line-height: 150%;
			color: #424242;
			margin: 10px 0;
			a{
				text-decoration: underline;
				color: #F91942;
			}
		}
		figure{
			margin: 36px 0;
			img{
				display: block;
				width: 100%;
			}
			p{
				margin: 0;
			}
		}
		.red-line{
			background: #FFFFFF;
			border-radius: 0px 0px 10px 10px;
			padding: 27px 16px;
			span{
				min-height: 38px;
				font-family: Roboto;
				font-style: italic;
				font-weight: 500;
				padding-left: 14px;
				font-size: 18px;
				line-height: 150%;
				color: #424242;
				border-left: 1px solid #F91942;
				display: flex;
				align-items: center;
			}
		}
		ol{
			list-style-type: none;
			counter-reset: olList;
			margin: 14px 0;
			li{
				counter-increment: olList;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 150%;
				margin: 8px 0;
				color: #424242;
				display: flex;
				&:before{
					content: counter(olList)'.';
					display: block;
					margin: 0 11px;
				}
			}
		}
		ul{
			margin-bottom: 27px;
			li{
				font-family: Roboto;
				font-weight: normal;
				font-size: 18px;
				line-height: 150%;
				margin: 8px 0;
				color: #424242;
				display: flex;
					&:before{
						content: '';
						min-width: 4px;
						width: 4px;
						height: 4px;
						border-radius: 50%;
						display: block;
						margin: 0 11px;
						margin-top: 11px;
						background: #3A3A3A;
					}
			}
		}
		h3{
			font-family: Roboto;
			margin-bottom: 22px;
			font-weight: 500;
			font-size: 22px;
			line-height: 150%;
			color: #424242;
		}
		.photo-text{
			display: flex;
			margin: 36px 0;
			margin-top: 0;
			.text{
				width: 100%;
			}
			img{
				display: block;
			}
			p{
				margin: 0;
			}
			figure{
				margin: 0;
				margin-left: 22px;
				max-width: 375px;
				width: 100%;
			}
			figcaption{
				background: #FFFFFF;
				padding: 18px 14px;
				font-family: Roboto;
				font-style: italic;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;
				color: #424242;
				border-radius: 0px 0px 10px 10px;
			}
		}
	}
}

// MEDIA


@media screen and (max-width: 1024px) {
	.page-post__blog ul li,
	.page-post__blog ol li,
	.page-post__comments data, .page-post__comments p, .page-post__comments span,
	.page-post__owner .owner__top span,
	.page-post__blog .red-line span,
	.page-post__blog .photo-text figcaption,
	.page-post__blog p{
		font-size: 14px;
		line-height: 22px;
	}
	.page-post__comments .item__top span{
		margin-left: 11px;
	}
	.page-post__owner{
		padding-top: 27px;
	}
	.page-post__owner .owner__bottom{
		margin-top: 27px;
	}
	.page-post__blog .red-line,
	.page-post__blog .photo-text figcaption{
		padding: 9px 11px;
	}
	.page-post__blog figure{
		margin: 27px 0;
	}
	.page-post__blog .photo-text figure{
		max-width: 266px;
		margin-left: 18px;
	}
	.page-post__blog .photo-text{
		margin-bottom: 18px;
	}
	.page-post__blog h3{
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 18px;
	}
	.page-post__nav b{
		font-size: 18px;
		line-height: 23px;
	}
	.page-post__nav small{
		font-size: 13px;
		line-height: 19px;
	}
	.page-post__reply{
		margin-top: 36px;
	}
	.page-post__reply textarea{
		padding: 22px 18px;
		font-size: 14px;
		line-height: 22px;
	}
	.page-post__comments,
	.page-city .page-index__banner{
		margin-top: 54px;
	}
}

@media screen and (max-width: 992px) {
	.page-post__blog h3{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.page-post__comments .comments__item{
		padding: 14px;
	}
}

@media screen and (max-width: 576px) {
	.page-post__reply textarea{
		padding: 14px;
		font-size: 13px;
	}
	.page-post__reply button{
		width: 100%;
		max-width: 100%;
		margin-top: 18px;
	}
	.page-city .page-index__banner, .page-post__comments{
		margin-top: 36px;
	}
	.page-post__blog .photo-text{
		display: block;
	}
	.page-post__blog .photo-text figure{
		margin: 0;
		max-width: 100%;
		margin-top: 27px;
	}
	.page-post__owner .owner__bottom{
		display: block;
	}
	.page-post__owner .owner__things{
		width: fit-content;
		margin-bottom: 27px;
	}
	.page-post__nav .nav__next{
		flex-direction: column-reverse;
		text-align: right;
		svg{
			margin-left: auto;
			margin-bottom: 14px;
		}
	}
	.page-post__nav .nav__prev{
		display: block;
		svg{
			margin-bottom: 14px;
		}
	}
}

@media screen and (max-width: 400px) {
	.page-post__blog,
	.page-post__img{
		margin-left: -18px;
		margin-right: -18px;
	}
	.page-post__blog{
		padding: 18px;
	}
	.page-post__blog .owner__date{
		display: none;
	}
	.page-post__owner .owner__persone .owner__date{
		display: flex;
	}
	.page-post__owner .owner__things{
		margin-bottom: 18px;
	}
	.dell{
		display: none;
	}
	.page-post__nav .nav__next{
		small{
			margin-right: -21px;
		}
		svg{
			margin-left: -20px;
		}
	}
	.page-post__nav .nav__prev{
		small{
			margin-left: -21px;
		}
		svg{
			margin-right: -20px;
		}
	}
	.page-post__nav .nav__next, .page-post__nav .nav__prev{
		display: flex;
		flex-direction: row;
		svg{
			width: 90px;
		}
	}

	.page-post__reply .reply__block{
		padding: 18px;
		margin-left: -18px;
		margin-right: -18px;
	}
	.page-post__banner{
		.banner__top{
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}















