extends includes/header.pug

block content

	main.page-inners.page-affiliate

		.wrapper

			h1.h1-hide Earn Money with the Car Rental Affiliate Program
			.page-affiliate__sides
				.page-affiliate__lft
					h2.h1 Earn Money with the Car Rental Affiliate Program
					.lft__block
						ul.ul-check
							li Attractive Revenue Sharing Scheme
							li Cookie Lifetime: 365 days
							li Dedicated Account Manager
						.buttons
							button.started.btn-hover GET STARTED
							button.learn.btn-hover LEARN MORE
				.page-affiliate__rht
					img(src="img/affiliate/photo1.jpg" alt="photo")
			.page-affiliate__numbers
				ul
					li
						p.big 4-7.5%
						span Average Conversion Rate
					li
						p.big 50%
						span of Localrent’s revenue is earned by the affiliates
					li
						p.big €0.28
						span eCPC (or the effective cost per click)
					li
						p.big 15
						span Countries
			.page-affiliate__who-can
				h2.h1 Who can earn money with us?
				.sides
					.lft
						img(src="img/affiliate/vector1.svg" alt="Vector")
					.rht
						ul
							li
								.ico
									img(src="img/affiliate/canIco1.svg" alt="Ico")
								span Webmasters
							li
								.ico
									img(src="img/affiliate/canIco2.svg" alt="Ico")
								span Travel bloggers
							li
								.ico
									img(src="img/affiliate/canIco3.svg" alt="Ico")
								span PPC specialists
							li
								.ico
									img(src="img/affiliate/canIco4.svg" alt="Ico")
								span Online travel agencies, hotels, airlines, etc
			.page-affiliate__tools
				h2.h1 Our tools
				.sides
					.lft
						.lft__top
							.ico
								img(src="img/affiliate/tool1.svg" alt="Ico")
							span Affiliate Links
						p Travel-related articles are the perfect match for your affiliate text links. Whether the post is about visiting a particular destination or it shares general thoughts and suggestions for travelers, make sure to embed a link that leads to the appropriate page on our website in the right language.
					.rht
						img(src="img/affiliate/vector2.svg" alt="Vector")
			.page-affiliate__how-get
				h2.h1 How to get started
				.ol__block
					.arrDown.arrDown_1_2
						img(src="img/affiliate/arrDown.svg" alt="Down")
					.arrUp.arrUp_2_3
						img(src="img/affiliate/arrUp.svg" alt="Up")
					.arrDown.arrDown_3_4
						img(src="img/affiliate/arrDown.svg" alt="Down")
					ol
						li Register for our Affiliate Program
						li Place your affiliate links on your website
						li Earn from bookings made via your link
						li Withdraw commission within 2-3 days.
			.page-affiliate__form
				.sides
					.lft
						h2.h1 Sign up to start earning!
						ul.ul-check
							li Attractive Revenue Sharing Scheme
							li Cookie Lifetime: 365 days
							li Dedicated Account Manager
					.rht
						form(action="#")
							label
								span First name (in latin letters)
								input(type="text")
							label
								span Email
								input(type="text")
							label
								span Last name (in latin letters)
								input(type="text")
							label
								span Web URL
								input(type="text")
							button(type="submit").btn-hover SIGN UP






	include includes/footer.pug