extends includes/header-login.pug

block content

	main.page-profile.page-affPayments

		.wrapper

			.page-profile__top
				h1 Affiliate earnings
				.page-profile__email
					a(href="#") akimvadim@gmail.com
					button(data-popup="change-email") change

			ul.page-profile__switcher
				li
					a(href="affBooking.html") bookings
				li
					a(href="affStatistics.html") Statistics
				li.li_active
					a(href="affPayments.html") Payments
				li
					a(href="affInstruments.html") Instruments


			.page-affPayments__sides
				.page-affPayments__lft
					h2 TOTAL paid: 
						span 2520.46€

					canvas#myChart
				.page-affPayments__rht
					h2 Ready to be paid: 
						span 96.02€
					.rht__block
						ul
							li
								b #4126   
								span Jan. 13, 2022, 9:58 p.m. :   
								span.red 10.80€
							li
								b #4126   
								span Jan. 13, 2022, 9:58 p.m. :   
								span.red 10.80€
							li
								b #4126   
								span Jan. 13, 2022, 9:58 p.m. :   
								span.red 10.80€
							li
								b #4126   
								span Jan. 13, 2022, 9:58 p.m. :   
								span.red 10.80€
							li
								b #4126   
								span Jan. 13, 2022, 9:58 p.m. :   
								span.red 10.80€
							li
								b #4126   
								span Jan. 13, 2022, 9:58 p.m. :   
								span.red 10.80€
						button.btn-hover(data-popup="pay-now") Pay now

			h2 Payout requests:

			.page-affPayments__table
				.table__ovf
					table(cellpadding="0" cellspacing="0" border="0").sortable#page-affPayments__table
						thead
							tr
								//- td.nosort
								td.nosort
									h3 #
								td.nosort
									h3 Amount, €
								td.nosort
									h3 Creation date
								td.nosort
									h3 Status
								td.nosort
									h3 Bookings
						tbody
							tr
								td 2
								td 473.09
								td Aug. 17, 2021, 11:48 a.m.
								td Processed
								td 3015, 3022, 3029, 3063, 3236, 3277, 3279, 2345, 1234, 5432, 5678, 3022, 3029, 3063, 3236, 3277, 3279, 2345, 1234, 9432
							tr
								td 2
								td 473.09
								td Aug. 17, 2021, 11:48 a.m.
								td Processed
								td 3015, 3022, 3029, 3063, 3236, 3277, 3279, 2345, 1234, 5432, 5678, 3022, 3029, 3063, 3236, 3277, 3279, 2345, 1234, 9432
							tr
								td 2
								td 473.09
								td Aug. 17, 2021, 11:48 a.m.
								td Processed
								td 3015, 3022, 3029, 3063, 3236, 3277, 3279, 2345, 1234, 5432, 5678, 3022, 3029, 3063, 3236, 3277, 3279, 2345, 1234, 9432


			
			
	.popup.popup__change-email
		.popup__bgd
		.popup__content
			.popup__top
				.popup__title Change your email
				.popup__close
					<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5302 9.53033C17.8231 9.23744 17.8231 8.76256 17.5302 8.46967C17.2374 8.17678 16.7625 8.17678 16.4696 8.46967L17.5302 9.53033ZM8.46959 16.4697C8.1767 16.7626 8.1767 17.2374 8.46959 17.5303C8.76249 17.8232 9.23736 17.8232 9.53025 17.5303L8.46959 16.4697ZM9.53042 8.46967C9.23752 8.17678 8.76265 8.17678 8.46976 8.46967C8.17686 8.76256 8.17686 9.23744 8.46976 9.53033L9.53042 8.46967ZM16.4697 17.5303C16.7626 17.8232 17.2375 17.8232 17.5304 17.5303C17.8233 17.2374 17.8233 16.7626 17.5304 16.4697L16.4697 17.5303ZM16.4696 8.46967L8.46959 16.4697L9.53025 17.5303L17.5302 9.53033L16.4696 8.46967ZM8.46976 9.53033L16.4697 17.5303L17.5304 16.4697L9.53042 8.46967L8.46976 9.53033ZM24.25 13C24.25 19.2132 19.2132 24.25 13 24.25V25.75C20.0416 25.75 25.75 20.0416 25.75 13H24.25ZM13 24.25C6.7868 24.25 1.75 19.2132 1.75 13H0.25C0.25 20.0416 5.95837 25.75 13 25.75V24.25ZM1.75 13C1.75 6.7868 6.7868 1.75 13 1.75V0.25C5.95837 0.25 0.25 5.95837 0.25 13H1.75ZM13 1.75C19.2132 1.75 24.25 6.7868 24.25 13H25.75C25.75 5.95837 20.0416 0.25 13 0.25V1.75Z" fill="#F91942"/></svg>
			.popup__inner
				p To change your email kindly <a href="#">contact our support</a>.
				button.popup__close Cancel
	.popup.popup__pay-now
		.popup__bgd
		.popup__content
			.popup__top
				.popup__title PAY NOW
				.popup__close
					<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5302 9.53033C17.8231 9.23744 17.8231 8.76256 17.5302 8.46967C17.2374 8.17678 16.7625 8.17678 16.4696 8.46967L17.5302 9.53033ZM8.46959 16.4697C8.1767 16.7626 8.1767 17.2374 8.46959 17.5303C8.76249 17.8232 9.23736 17.8232 9.53025 17.5303L8.46959 16.4697ZM9.53042 8.46967C9.23752 8.17678 8.76265 8.17678 8.46976 8.46967C8.17686 8.76256 8.17686 9.23744 8.46976 9.53033L9.53042 8.46967ZM16.4697 17.5303C16.7626 17.8232 17.2375 17.8232 17.5304 17.5303C17.8233 17.2374 17.8233 16.7626 17.5304 16.4697L16.4697 17.5303ZM16.4696 8.46967L8.46959 16.4697L9.53025 17.5303L17.5302 9.53033L16.4696 8.46967ZM8.46976 9.53033L16.4697 17.5303L17.5304 16.4697L9.53042 8.46967L8.46976 9.53033ZM24.25 13C24.25 19.2132 19.2132 24.25 13 24.25V25.75C20.0416 25.75 25.75 20.0416 25.75 13H24.25ZM13 24.25C6.7868 24.25 1.75 19.2132 1.75 13H0.25C0.25 20.0416 5.95837 25.75 13 25.75V24.25ZM1.75 13C1.75 6.7868 6.7868 1.75 13 1.75V0.25C5.95837 0.25 0.25 5.95837 0.25 13H1.75ZM13 1.75C19.2132 1.75 24.25 6.7868 24.25 13H25.75C25.75 5.95837 20.0416 0.25 13 0.25V1.75Z" fill="#F91942"/></svg>
			.popup__inner
				p Confirm payout for the amount <span>96.02€</span> , by clicking the button “PAY”
				.buttons
					button.popup__close Cancel
					button.popup__submit.btn-hover PAY


	include includes/footer.pug