extends includes/header.pug

block content

	main.page-single.page-single-one

		.wrapper
			.page-single__top
				h1.page-single__title
					span Rent a Mercedes-Benz SLK 230 CABRIO
				.page-single__red
					span Free cancel 24 hours
					.blockInfoTextModal
						img(src="img/single/qRed.svg" alt="Ico")
						.blockInfoTextModal__text.
							Fully refunded upon return as long as there has been no damage and expense
				.page-single__green
					span Security deposit is not required
					.blockInfoTextModal
						img(src="img/single/qGreen.svg" alt="Ico")
						.blockInfoTextModal__text.
							Fully refunded upon return as long as there has been no damage and expense
				.page-single__share
					img(src="img/single/iShare.svg" alt="Ico")
					span Share
			.page-single__sides
				.page-single__lft
					.page-single__photos
						.photo__item
							h2.page-single__title Rent a Mercedes-Benz SLK 230 CABRIO
							.item__tags
								a(href="#").blockInfoTextModal or similar
									.blockInfoTextModal__text.
										Fully refunded upon return as long as there has been no damage and expense
								a(href="#").blockInfoTextModal right-handed
									.blockInfoTextModal__text.
										Fully refunded upon return as long as there has been no damage and expense
							img(src="img/single/car1.jpg" alt="Photo")
						.photo__item
							img(src="img/single/car2.jpg" alt="Photo")
						.info__list
							ul
								li Automatic TM
								li 2012 year
								li All wheel drive
								li 2.5 litres | Petrol
								li 9 litres / 100 km
								li 5 seats
					.page-single__block
						.info__list
							ul
								li Automatic TM
								li 2012 year
								li All wheel drive
								li 2.5 litres | Petrol
								li 9 litres / 100 km
								li 5 seats
					.page-single__top
						.page-single__red
							span Free cancel 24 hours
							.blockInfoTextModal
								img(src="img/single/qRed.svg" alt="Ico")
								.blockInfoTextModal__text.
									Fully refunded upon return as long as there has been no damage and expense
						.page-single__green
							span Security deposit is not required
							.blockInfoTextModal
								img(src="img/single/qGreen.svg" alt="Ico")
								.blockInfoTextModal__text.
									Fully refunded upon return as long as there has been no damage and expense
						.page-single__share
							img(src="img/single/iShare.svg" alt="Ico")
							span Share
					.page-single__blockquotes
						img(src="img/svg/quotes.svg" alt="quotes")
						p.
							Spacious, functional and economical wagon with a spacious trunk. Two-zone climate control. Heated front seats and steering wheel. Cruise control. Parking camera and sensors. USB & AUX Ports.
					.page-single__block
						h3
							span Pickup

						p.error This company doesn't provide night service, choose another pickup time
						.page-single__selection
							.selection__lft
								input(placeholder="07 Jan 2022").dateSingle.dateSingle1
								.select.select_error.select__time
									.select__head
										.select__push
											span 10:00
									.select__body
										.select__ovf
											.option.select__pull
												span 10:00
											.option.select__pull
												span 11:00
											.option.select__pull
												span 12:00
											.option.select__pull
												span 10:00
											.option.select__pull
												span 11:00
											.option.select__pull
												span 12:00
											.option.select__pull
												span 10:00
											.option.select__pull
												span 11:00
											.option.select__pull
												span 12:00
											.option.select__pull
												span 10:00
											.option.select__pull
												span 11:00
											.option.select__pull
												span 12:00
								//- .select
									.select__head
										span Custom address
									.select__body
								select.js-example-placeholder-multiple.select__address
									option(disabled selected) Custom address
									option asd 1
									option asd 1 2
							.selection__rht
								select.js-example-placeholder-multiple
									option(disabled selected) Istanbul Sabiha Gokcen Airport (SAW)
									option asd 1
									option asd 1 2
								//- .select
									.select__head
										span Istanbul Sabiha Gokcen Airport (SAW)
									.select__body
								input(placeholder="Enter exact address")
					.page-single__block
						h3
							span return
							.banner__days
								b 14
								span Days
						.page-single__selection
							.selection__lft
								input(placeholder="07 Jan 2022").dateSingle.dateSingle2
								.select.select__time
									.select__head
										.select__push
											span 10:00
									.select__body
										.select__ovf
											.option.select__pull
												span 10:00
											.option.select__pull
												span 11:00
											.option.select__pull
												span 12:00
											.option.select__pull
												span 10:00
											.option.select__pull
												span 11:00
											.option.select__pull
												span 12:00
											.option.select__pull
												span 10:00
											.option.select__pull
												span 11:00
											.option.select__pull
												span 12:00
											.option.select__pull
												span 10:00
											.option.select__pull
												span 11:00
											.option.select__pull
												span 12:00
								//- .select
									.select__head
										span Custom address
									.select__body
								select.js-example-placeholder-multiple.select__address
									option(disabled selected) Custom address
									option asd 1
									option asd 1 2
							.selection__rht
								select.js-example-placeholder-multiple
									option(disabled selected) Sabiha Gokcen Airport (SAW)
									option asd 1
									option asd 1 2
								//- .select
									.select__head
										span Istanbul Sabiha Gokcen Airport (SAW)
									.select__body
								input(placeholder="Enter exact address")
					.page-single__block
						h3
							span Insurance
						.block-green
							span Returnable depositis not required
							img(src="img/single/qRed.svg" alt="Ico")
							.count €0
						.block-red
							span Returnable deposit by Cash, Credit or Debit card
							img(src="img/single/qRed.svg" alt="Ico")
							.count €300
						.block__frees
							.frees__item
								input(type="checkbox" name="freesName")#chFree1
								label(for="chFree1").label-checkbox
									span Third Party Liability
									img(src="img/single/qRed.svg" alt="Ico")
									.priceFree FREE
							.frees__item
								input(type="checkbox" name="freesName")#chFree2
								label(for="chFree2").label-checkbox
									span Super Collision Damage Waiver
									img(src="img/single/qRed.svg" alt="Ico")
									.priceFree FREE
							.frees__item
								input(type="checkbox" name="freesName")#chFree3
								label(for="chFree3").label-checkbox
									span Passenger Health
									img(src="img/single/qRed.svg" alt="Ico")
									.priceFree FREE
							.frees__item
								input(type="checkbox" name="freesName")#chFree4
								label(for="chFree4").label-checkbox
									span Theft Protect
									img(src="img/single/qRed.svg" alt="Ico")
									.priceFree FREE
							.frees__item
								input(type="checkbox" name="freesName")#chFree5
								label(for="chFree5").label-checkbox
									span Cross Border
									img(src="img/single/qRed.svg" alt="Ico")
									.priceFree FREE
						.block__selects
							.akkordeon
								.akkordeon__head
									span Mileage Limit
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 13L0 13L-1.74846e-07 11L24 11L24 13Z" fill="#3A3A3A"/><path d="M13 0L13 24L11 24L11 -8.74227e-08L13 0Z" fill="#3A3A3A"/></svg>
								.akkordeon__body
									.akkordeon__item
										input(type="radio" name="radioAkk1")#rdAk1-1
										label(for="rdAk1-1").label-radio
											span Cross Border
											.priceFree FREE
									.akkordeon__item
										input(type="radio" name="radioAkk1")#rdAk1-2
										label(for="rdAk1-2").label-radio
											span Cross Border
											span.price ₾40/day
							.akkordeon
								.akkordeon__head
									span Additional drivers
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 13L0 13L-1.74846e-07 11L24 11L24 13Z" fill="#3A3A3A"/><path d="M13 0L13 24L11 24L11 -8.74227e-08L13 0Z" fill="#3A3A3A"/></svg>
								.akkordeon__body
									.akkordeon__item
										input(type="checkbox" name="chAkk2")#chAk1-1
										label(for="chAk1-1").label-checkbox
											span Second driver
											.priceFree FREE
									.akkordeon__item
										input(type="checkbox" name="chAkk2")#chAk1-2
										label(for="chAk1-2").label-checkbox
											span Third driver
											span.price ₾5/day
									.akkordeon__item
										input(type="checkbox" name="chAkk2")#chAk1-3
										label(for="chAk1-3").label-checkbox
											span Fourth driver
											span.price ₾5/day
							.akkordeon
								.akkordeon__head
									span Child seats
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 13L0 13L-1.74846e-07 11L24 11L24 13Z" fill="#3A3A3A"/><path d="M13 0L13 24L11 24L11 -8.74227e-08L13 0Z" fill="#3A3A3A"/></svg>
								.akkordeon__body
									.akkordeon__item
										span Up to 9kg
										.countBlock
											.countBlock__minus -
											input(value="1" type="num").countBlock__input
											.countBlock__plus +
										span ₾5/day
									.akkordeon__item
										span Up to 9kg
										.countBlock
											.countBlock__minus -
											input(value="1" type="num").countBlock__input
											.countBlock__plus +
										span ₾5/day
									.akkordeon__item
										span Up to 9kg
										.countBlock
											.countBlock__minus -
											input(value="1" type="num").countBlock__input
											.countBlock__plus +
										span ₾5/day
							.akkordeon
								.akkordeon__head
									span Equipment
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 13L0 13L-1.74846e-07 11L24 11L24 13Z" fill="#3A3A3A"/><path d="M13 0L13 24L11 24L11 -8.74227e-08L13 0Z" fill="#3A3A3A"/></svg>
								.akkordeon__body
									.akkordeon__item
										input(type="checkbox" name="chAkk2")#chAk2-1
										label(for="chAk2-1").label-checkbox
											span Tyre chains
											span.price ₾5/day
									.akkordeon__item
										input(type="checkbox" name="chAkk2")#chAk2-2
										label(for="chAk2-2").label-checkbox
											span GPS Navigator
											span.price ₾5/day
					section.page-index__reviews
						h2 reviews (29)
						.reviews__block.list__content_lots(data-show-items="3")
							.slider__item.item-more-block
								.item__top
									.item__lft
										.item__photo
											img(src="img/index/persone1.jpg" alt="persone")
										.item__name
											span Serhii Haidai
											.item__date December 2021
										.item__country
											img(src="img/svg/UA.svg" alt="UA")
									.item__stars
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
								.item__content
									p.item__text 1. The service is super! The application was accepted quickly and without any red tape. We met at the airport. Super. 2. A big plus that no collateral! 3. In general, everything is fine. But! 4. Specifically, this car is not very good...
										a(href="#") read more
									.item__gallery
										a(href="img/index/photoCar1.jpg" data-lightbox="roadtrip1").gallery__item
											img(src="img/index/photoCar1.jpg" alt="Photo")
										a(href="img/index/photoCar2.jpg" data-lightbox="roadtrip1").gallery__item
											img(src="img/index/photoCar2.jpg" alt="Photo")
										a(href="img/index/photoCar3.jpg" data-lightbox="roadtrip1").gallery__item
											img(src="img/index/photoCar3.jpg" alt="Photo")
									.item__answer
										.item__top
											.item__photo
												img(src="img/company/photo1.png" alt="Photo")
											.item__name Tamuna
										.item__text.
											Thank you Serhii for your feedback. We are very sorry for any inconvenience you may have had with your booking. The problem has been solved in the meantime.
							.slider__item.item-more-block
								.item__top
									.item__lft
										.item__photo
											img(src="img/index/persone1.jpg" alt="persone")
										.item__name
											span Serhii Haidai
											.item__date December 2021
										.item__country
											img(src="img/svg/UA.svg" alt="UA")
									.item__stars
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#C4C4C4" stroke="white"/></svg>
								.item__content
									p.item__text 1. The service is super! The application was accepted quickly and without any red tape. We met at the airport. Super
									.item__gallery#lightgallery
										a(href="img/index/photoCar1.jpg" data-lightbox="roadtrip2").gallery__item
											img(src="img/index/photoCar1.jpg" alt="Photo")
										a(href="img/index/photoCar2.jpg" data-lightbox="roadtrip2").gallery__item
											img(src="img/index/photoCar2.jpg" alt="Photo")
										a(href="img/index/photoCar3.jpg" data-lightbox="roadtrip2").gallery__item
											img(src="img/index/photoCar3.jpg" alt="Photo")
							.slider__item.item-more-block
								.item__top
									.item__lft
										.item__photo
											img(src="img/index/persone1.jpg" alt="persone")
										.item__name
											span Serhii Haidai
											.item__date December 2021
										.item__country
											img(src="img/svg/UA.svg" alt="UA")
									.item__stars
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
								.item__content
									h3.item__title
										span Kia X-Line  
										| in
										span  Georgia
									p.item__text 1. The service is super! The application was accepted quickly and without
							.slider__item.item-more-block
								.item__top
									.item__lft
										.item__photo
											img(src="img/index/persone1.jpg" alt="persone")
										.item__name
											span Serhii Haidai
											.item__date December 2021
										.item__country
											img(src="img/svg/UA.svg" alt="UA")
									.item__stars
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
										.star
											<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.12978L12.4906 6.1762L12.6069 6.41192L12.867 6.44972L18.4361 7.25895L14.4063 11.187L14.218 11.3705L14.2625 11.6296L15.2138 17.1762L10.2327 14.5574L10 14.4351L9.76733 14.5574L4.78621 17.1762L5.73752 11.6296L5.78196 11.3705L5.59372 11.187L1.56392 7.25895L7.13297 6.44972L7.39311 6.41192L7.50944 6.1762L10 1.12978Z" fill="#FFC600" stroke="white"/></svg>
								.item__content
									p.item__text 1. The service is super! The application was accepted quickly and without any red tape. We met at the airport. Super. 2. A big plus that no collateral! 3. In general, everything is fine. But! 4. Specifically, this car is not very good...
										a(href="#") read more
									.item__gallery
										a(href="img/index/photoCar1.jpg" data-lightbox="roadtrip3").gallery__item
											img(src="img/index/photoCar1.jpg" alt="Photo")
										a(href="img/index/photoCar2.jpg" data-lightbox="roadtrip3").gallery__item
											img(src="img/index/photoCar2.jpg" alt="Photo")
										a(href="img/index/photoCar3.jpg" data-lightbox="roadtrip3").gallery__item
											img(src="img/index/photoCar3.jpg" alt="Photo")
						.list__more
							.lines
							button.btn-hover Show more

				.page-single__rht
					.rht__sticky
						.page-single__owner
							.owner__ver Verified
							.owner__photo
								img(src="img/company/photo1.png" alt="Photo")
							.owner__info
								.name Tamuna
								.loc Tbilisi, Georgia
								.rating
									span 4.8
									.stars
										.star
											img(src="img/svg/star.svg" alt="Star")
										.star
											img(src="img/svg/star.svg" alt="Star")
										.star
											img(src="img/svg/star.svg" alt="Star")
										.star
											img(src="img/svg/star.svg" alt="Star")
										.star
											img(src="img/svg/star.svg" alt="Star")
									span (29)
						.page-single__bill
							.bill__block
								.bill__title
									h3 Rent
									b ₾700
								ul.bill__list
									li 7 days X ₾100
							.bill__block
								.bill__title
									h3 Insurance
									b ₾0
								ul.bill__list
									li
										span.blockInfoTextModal.underline TPL
											.blockInfoTextModal__text.
												Fully refunded upon return as long as there has been no damage and expense
										|  is included
									li
										span.blockInfoTextModal.underline SCDW
											.blockInfoTextModal__text.
												Fully refunded upon return as long as there has been no damage and expense
										|  is included
									li
										span.blockInfoTextModal.underline Passengers
											.blockInfoTextModal__text.
												Fully refunded upon return as long as there has been no damage and expense
										|  is included
									li
										span.blockInfoTextModal.underline Theft
											.blockInfoTextModal__text.
												Fully refunded upon return as long as there has been no damage and expense
										|  is included
									li
										span.blockInfoTextModal.underline Abroad
											.blockInfoTextModal__text.
												Fully refunded upon return as long as there has been no damage and expense
										|  is included
							.bill__coupon
								.akkordeon
									.akkordeon__head
										span I have a coupon
										<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L11 1" stroke="#424242" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
									.akkordeon__body
										.coupon__sides
											input(type="text" placeholder="Coupon code")
											button.btn-hover APPLY
							.bill__bottom
								.bill__total
									span TOTAL
									span ₾805
								.bill__now
									span Pay now
									img(src="img/single/qRed.svg" alt="Ico")
									span ₾0
								.bill__pickup
									span Pay on pickup
									span ₾700
								a(href="#").bill__button.btn-hover Book now



	include includes/footer.pug