extends includes/header-login.pug

block content

	main.page-forCompanies

		.wrapper

			h1 LocalCARHIREs.com is the best source of bookings for local car rental companies

			.page-forCompanies__sides
				.lft
					p The quickest route to the new clients! Get more bookings tomorrow with no need of any investments in marketing or complex integration, just confirmed reservations with payment on arrival.
					button.btn-hover CREATE ACCOUNT
				.rht
					img(src="img/forCompanies/photo1.jpg" alt="Photo")

			.page-forCompanies__block
				.block__item
					.item__ico
						img(src="img/forCompanies/ico1.svg" alt="Ico")
					.item__text
						p With no investments in marketing or complex integrations
				.block__item
					.item__ico
						img(src="img/forCompanies/ico2.svg" alt="Ico")
					.item__text
						p With no investments in marketing or complex integrations
				.block__item
					.item__ico
						img(src="img/forCompanies/ico3.svg" alt="Ico")
					.item__text
						p With no investments in marketing or complex integrations

			h2 Our advantages
			.page-forCompanies__adv
				.avg__item
					h3 Our advantages
					p When a client books a car on Localrent.com, he makes a prepayment, the rest of the rental cost you receive when the car is picked up – in cash or by credit card. Therefore, you do not experience any payment delays. Your money is always with you.
				.avg__item
					h3 Our advantages
					p When a client books a car on Localrent.com, he makes a prepayment, the rest of the rental cost you receive when the car is picked up – in cash or by credit card. Therefore, you do not experience any payment delays. Your money is always with you.
				.avg__item
					h3 Our advantages
					p When a client books a car on Localrent.com, he makes a prepayment, the rest of the rental cost you receive when the car is picked up – in cash or by credit card. Therefore, you do not experience any payment delays. Your money is always with you.
				.avg__item
					h3 Our advantages
					p When a client books a car on Localrent.com, he makes a prepayment, the rest of the rental cost you receive when the car is picked up – in cash or by credit card. Therefore, you do not experience any payment delays. Your money is always with you.

			h2 About LocalCARHIRES
			.page-forCompanies__loc
				p Localrent is an aggregator of local car rental companies at resorts.
				p We launched our company in 2011 in a small country – Montenegro where we quickly  became No. 1 car rental booking service. Now we’ve expanded on Greece, Bulgaria, Cyprus, Turkey, Iceland, Thailand, Czech Republic, United Arab Emirates, Georgia, Armenia and on the most popular Russia resorts.
				.page-affiliate__numbers
					ul
						li
							p.big 4-7.5%
							span Average Conversion Rate
						li
							p.big 50%
							span of Localrent’s revenue is earned by the affiliates
						li
							p.big €0.28
							span eCPC (or the effective cost per click)
						li
							p.big 15
							span Countries
			h2 Become LocalCARHIRES partner today
			.page-forCompanies__become
				button.btn-hover CREATE ACCOUNT
				p Get in touch with us <a href="#">partner@localcarhires.com</a>






	include includes/footer.pug