extends includes/header.pug

block content

	main.page-inners.page-helpFaq.page-texts

		.wrapper

			h1 HELP

			ul.page-texts__tabs
				li
					a(href="#block-payments") Payments
				li
					a(href="#block-bookingProcess") Booking Process
				li
					a(href="#block-cancelRefunds") Cancel / Refunds
				li
					a(href="#block-noShow") No-Show
				li
					a(href="#block-modify") Modify
				li
					a(href="#") Payments
				li
					a(href="#") Booking Process
				li
					a(href="#") Cancel / Refunds
				li
					a(href="#") No-Show
				li
					a(href="#") Modify
				li
					a(href="#") Payments
				li
					a(href="#") Booking Process
				li
					a(href="#") Cancel / Refunds

			.page-texts__inner
				.page-texts__block
					.page-texts__title
						span Coronavirus Outbreak
					.akkordeon
						.akkordeon__head
							span If I can no longer travel due to the Coronavirus outbreak, am I entitled to a refund?
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 13L0 13L-1.75464e-07 11L24 11L24 13Z" fill="#3A3A3A"/><path d="M13.0469 0L13.0469 24L11.0398 24L11.0398 -8.74227e-08L13.0469 0Z" fill="#3A3A3A"/></svg>
						.akkordeon__body
							p We’ve introduced new cleaning measures with all the rental providers we work with. Over 300 rental <a href="#">companies</a> have agreed with our strict cleaning guidelines, these companies are highlighted on our quote results with a ‘Enhanced Cleaning’ label.
							p Before each rental, vehicles go through a rigorous 
								span.blockInfoTextModal
									| cleaning process.
									span.blockInfoTextModal__text Fully refunded upon return as long as there has been no damage and expense
								|   In addition to regular cleaning, disinfectant is used to clean all frequently touched surfaces of the vehicle.
							.photos
								img(src="img/helpFaq/photo1.jpg" alt="Photo")
								img(src="img/helpFaq/photo2.jpg" alt="Photo")
					.akkordeon
						.akkordeon__head
							span Will my hire car be COVID safe?
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 13L0 13L-1.75464e-07 11L24 11L24 13Z" fill="#3A3A3A"/><path d="M13.0469 0L13.0469 24L11.0398 24L11.0398 -8.74227e-08L13.0469 0Z" fill="#3A3A3A"/></svg>
						.akkordeon__body
			.page-texts__inner
				.page-texts__block
					.page-texts__title
						span Top-Up Insurance
					.akkordeon
						.akkordeon__head
							span What does top-up insurance cover?
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 13L0 13L-1.75464e-07 11L24 11L24 13Z" fill="#3A3A3A"/><path d="M13.0469 0L13.0469 24L11.0398 24L11.0398 -8.74227e-08L13.0469 0Z" fill="#3A3A3A"/></svg>
						.akkordeon__body
					.akkordeon
						.akkordeon__head
							span Why do I need top-up insurance?
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 13L0 13L-1.75464e-07 11L24 11L24 13Z" fill="#3A3A3A"/><path d="M13.0469 0L13.0469 24L11.0398 24L11.0398 -8.74227e-08L13.0469 0Z" fill="#3A3A3A"/></svg>
						.akkordeon__body
					.akkordeon
						.akkordeon__head
							span What does top-up insurance cover?
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 13L0 13L-1.75464e-07 11L24 11L24 13Z" fill="#3A3A3A"/><path d="M13.0469 0L13.0469 24L11.0398 24L11.0398 -8.74227e-08L13.0469 0Z" fill="#3A3A3A"/></svg>
						.akkordeon__body
					.akkordeon
						.akkordeon__head
							span Why do I need top-up insurance?
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 13L0 13L-1.75464e-07 11L24 11L24 13Z" fill="#3A3A3A"/><path d="M13.0469 0L13.0469 24L11.0398 24L11.0398 -8.74227e-08L13.0469 0Z" fill="#3A3A3A"/></svg>
						.akkordeon__body
						



	include includes/footer.pug