extends includes/header.pug

block content

	main.page-inners.page-post

		.wrapper

			h1 Vardzia

			h2 - A cave city in the rock, covered with legends and ancient history

			.page-post__img
				img(src='img/post/photo1.jpg' alt="Photo")
			.page-post__blog
				.photo-text
					.text
						p
							| Vardzia is a monastery city carved into the rock at an altitude of 100 meters. It consists of 13 floors and thousands of caves. It is located about 270 km from Tbilisi and 240 km from 
							a(href="#") Kutaisi
							| . Its length along the valley of the river Kura is about one kilometer.
						p Because of constant raids of foreigners, the inhabitants of the country had to be protected. So an impregnable fortress appeared - or rather it was already in the form of rocky caves. It only needed to be inhabited and improved.
					figure
						p
							img(src='img/post/photo2.jpg' alt="Photo")
						figcaption Vardzia has seen a lot of pain and tragedy.
				h3 Things to see for a tourist
				ul
					li Church of the Assumption of the Blessed Virgin Mary. Its construction was accompanied by Queen Tamara. In front of it there are frescoes depicting George III and his daughter Tamara;
					li The observation deck, which offers a magnificent view of the rock city and its surroundings;
					li Inside the complex are preserved bakeries, libraries, dining rooms, cellars, and workshops.
				p You will walk through inclined tunnels with steps, learn about the ancient history of the monastery, and admire the mountain scenery and hills.
				p It is best to take a tour or audio guide. So it will be much more interesting and you will not get lost in a large number of caves.
				p There is also a spring on the territory from which you can drink. For the safety of visitors to the caves are equipped with fences. But with all the safety you need to be very careful and cautious, because sometimes you can come across worn stone stairs, unfenced shafts and holes in the floor.
				figure
					p
						img(src="img/post/photo3.jpg" alt="Photo")
					figcaption.red-line
						span Vardzia has seen a lot of pain and tragedy.
				h3 Tips
				p Vardzia has seen a lot of pain and tragedy. Visiting this place, you can feel all the power and grandeur of the defensive fortress, which saved Georgian lands from enemy invasions. If you still have time, you can visit several interesting places in the vicinity of Vardzia:
				ol
					li 20 minutes away by car is the huge Khertvisi Fortress on the top of the mountain, and nearby merge 2 rivers. The sight of extraordinary beauty;
					li hot springs, next to which there is a swimming pool and you can swim in the healing water;
					li another cave monastery Vanis Kwabebi. It is not as equipped as Vardzia, but interesting enough and not as crowded.
				.page-post__owner
					.owner__top
						.owner__persone
							img(src="img/post/owner1.png" alt="Photo")
							.presone__text
								span Alla Bregova
								.owner__date
									span Last updated:
									span Jan. 16, 2022
						.owner__date
							span Last updated:
							span Jan. 16, 2022
					.owner__blockquotes
						img(src="img/post/blockquotes.svg" alt="Svg")
						p It is best to take a tour or audio guide. So it will be much more interesting and you will not get lost in a large number of caves. For the safety of visitors to the caves are equipped with fences. But with all the safety you need to be very careful and cautious, because sometimes you can come across worn stone stairs, unfenced shafts and holes in the floor.
					.owner__bottom
						.owner__things THINGS TO DO
						.owner__soc
							a(href="#")
								img(src="img/svg/facebook.svg" alt="facebook")
							a(href="#")
								img(src="img/svg/telegram.svg" alt="facebook")
							a(href="#")
								img(src="img/svg/twitter.svg" alt="facebook")
							a(href="#")
								img(src="img/svg/viber.svg" alt="facebook")
							a(href="#")
								img(src="img/svg/whatsapp.svg" alt="facebook")
			.page-post__nav
				a(href="#").nav__prev
					<svg width="45" height="20" viewBox="0 0 45 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="dell" d="M45 12L15 12L15 8L45 8L45 12Z" fill="#3A3A3A"/><path d="M-4.37114e-07 10L15 1.33974L15 18.6603L-4.37114e-07 10Z" fill="#3A3A3A"/></svg>
					.text
						b Butrint
						small Ancient Settlement with Ruins of Ancient Greek Acropolis
				a(href="#").nav__next
					.text
						b Garni
						small A picturesque village with an open-air museum
					<svg width="45" height="20" viewBox="0 0 45 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="dell" d="M0 8H30V12H0V8Z" fill="#3A3A3A"/><path d="M45 10L30 18.6603L30 1.33974L45 10Z" fill="#3A3A3A"/></svg>
			.page-post__comments
				h2.h1 comments (2)
				.comments__item
					.item__top
						.item__owner
							img(src="img/post/owner2.jpg" alt="Photo")
							span Alla Bregova
						data.item__date Jan. 16, 2022
					.item__text
						p - It is best to take a tour or audio guide. So it will be much more interesting and you will not get lost in a large number of caves. For the safety of visitors to the caves are equipped with fences. But with all the safety you need to be very careful and cautious, because sometimes you can come across worn stone stairs, unfenced shafts and holes in the floor.
				.comments__item
					.item__top
						.item__owner
							img(src="img/post/owner2.jpg" alt="Photo")
							span Alla Bregova
						data.item__date Jan. 16, 2022
					.item__text
						p This amazing by its structure and history place, which would not leave anyone indifferent. And what views can be seen from above!
			.page-post__reply
				h2.h1 Leave a Reply
				form(action="").reply__block
					textarea(placeholder="This amazing by its structure and history place, which would not leave anyone indifferent. And what views can be seen from above!")
					button.btn-hover POST comment

	main.page-city

		section.page-index__banner.page-post__banner
			button.filter__button.filter__button_fixed(data-popup="filters")
				img(src="img/svg/filters.svg" alt="Filter")
				span Filters
				span.count 3
			.wrapper.wrapper_big
				.banner__inner
					.wrapper
						.banner__top
							h2.h1 Rent a car IN TBILISI
						.banner__center
							.banner__sides
								.banner__side
									h3.banner__title Pickup
									.banner__block
										.banner__select.banner__search
											img(src="img/svg/searchGrey.svg" alt="search")
											select.js-example-placeholder-multiple
												option(disabled selected) Select city or airport
												option asd 1
												option asd 1 2
										.banner__select.banner__calendar
											img(src="img/svg/calendarGrey.svg" alt="calendar")
											input(type="text" placeholder="4 Jan 2022").dateFrom
										.banner__select.banner__time.select
											.select__head
												img(src="img/svg/timeGrey.svg" alt="time")
												.select__push
													span 10:00
											.select__body
												.select__ovf
													.option.select__pull
														span 10:00
													.option.select__pull
														span 11:00
													.option.select__pull
														span 12:00
													.option.select__pull
														span 10:00
													.option.select__pull
														span 11:00
													.option.select__pull
														span 12:00
													.option.select__pull
														span 10:00
													.option.select__pull
														span 11:00
													.option.select__pull
														span 12:00
													.option.select__pull
														span 10:00
													.option.select__pull
														span 11:00
													.option.select__pull
														span 12:00
								.banner__side
									h3.banner__title
										span Return
										.banner__days
											b 14
											span Days
									.banner__block
										.banner__select.banner__search
											img(src="img/svg/searchGrey.svg" alt="search")
											select.js-example-placeholder-multiple
												option(disabled selected) Select city or airport
												option asd 1
												option asd 1 2
										.banner__select.banner__calendar
											img(src="img/svg/calendarGrey.svg" alt="calendar")
											input(type="text" placeholder="4 Jan 2022").dateTo
										.banner__select.banner__time.select
											.select__head
												img(src="img/svg/timeGrey.svg" alt="time")
												.select__push
													span 10:00
											.select__body
												.select__ovf
													.option.select__pull
														span 10:00
													.option.select__pull
														span 11:00
													.option.select__pull
														span 12:00
													.option.select__pull
														span 10:00
													.option.select__pull
														span 11:00
													.option.select__pull
														span 12:00
													.option.select__pull
														span 10:00
													.option.select__pull
														span 11:00
													.option.select__pull
														span 12:00
													.option.select__pull
														span 10:00
													.option.select__pull
														span 11:00
													.option.select__pull
														span 12:00
							.banner__filters
								button.filter__button(data-popup="filters")
									img(src="img/svg/filtersGrey.svg" alt="Filter")
									span Filters
									span.count 3
								ul.filters__list
									li
										span Transmission: ANY
									li
										span Seats 7+
										button
											img(src="img/svg/filterDelete.svg" alt="Delete")
									li
										span Free CDW
										button
											img(src="img/svg/filterDelete.svg" alt="Delete")

		section.page-country__list
			.wrapper

				.skeleton-grid
				template#card-template
					.skeleton-card
						.card__head.skeleton
							.skeleton-text
						img.header-img.skeleton(data-img)
						.card__center(data-body)
							.skeleton.skeleton-text
							.skeleton.skeleton-text
						.card__bottom(data-title)
							.card__inner
								.skeleton.skeleton-text
								.skeleton.skeleton-text


				.list__top
					.select
						.select__head
							span CHEAP first
						.select__body
							.option
								span CHEAP first
							.option
								span CHEAP first
							.option
								span CHEAP first
					.list__count 209 cars based on your filters
				ul.list__content.list__content_lots(data-show-items="6")
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto2.jpg" alt="Photo")
								.item__photo
									img(src="img/item/itemPhoto3.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
								li
									span Service
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
					li.car__item.item-more-block
						.item__top
							.top__lft
								.item__title Subaru Forester
								.item__info Automatic | 2015 | 2.5 Petrol | 170 HP
							.top__rht
								.rht__text Cancel up to 24 hours before the start time for a full refund.
								img(src="img/item/itemTop.svg" alt="Ico")
						.item__block-photos
							.item__slider
								.item__photo
									img(src="img/item/itemPhoto1.jpg" alt="Photo")
							.item__info_mob
								.mob__owner.item__owner
									.item__persone
										.persone__photo
											.photo__check
												img(src="img/item/photoCheck.svg" alt="Check")
											img(src="img/item/personePhoto1.jpg" alt="Photo")
										.persone__name
											span Tamuna
									.item__rating
										img(src="img/item/itemStar.svg" alt="Star")
										b 4.8
										.item__reviews (132)
								.mob__prices
									.prices__item
										span 2 days x € 25
										span € 50
									.prices__item
										span Delivery
										span € 20
									.prices__item
										span Service
										span € 10
									.prices__all
										b Total
										b € 80n
						.item__bottom
							ul.item__tags
								li
									.li__text Full damage Waiver
									a(href="#") ОСАГО
									|,
								li
									a(href="#") Супер КАСКО
							.item__deposit
								span Deposit  
								b ₽132 032
						.item__owner
							.item__persone
								.persone__photo
									.photo__check
										img(src="img/item/photoCheck.svg" alt="Check")
									img(src="img/item/personePhoto1.jpg" alt="Photo")
								.persone__name
									span Tamuna
							.item__rating
								img(src="img/item/itemStar.svg" alt="Star")
								b 4.8
								.item__reviews (132)
						.item__last
							ul.item__prices
								li
									span Day
									b ₽3 076
								li
									span Delivery
									b ₽3 076
							button.item__buy.btn-hover Rent for ₽21 530
				.list__more
					.lines
					button.btn-hover Show more



	.popup.popup__filters
		.popup__bgd
		.popup__content
			.popup__top
				.popup__title FIlters
				.popup__close
					<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5302 9.53033C17.8231 9.23744 17.8231 8.76256 17.5302 8.46967C17.2374 8.17678 16.7625 8.17678 16.4696 8.46967L17.5302 9.53033ZM8.46959 16.4697C8.1767 16.7626 8.1767 17.2374 8.46959 17.5303C8.76249 17.8232 9.23736 17.8232 9.53025 17.5303L8.46959 16.4697ZM9.53042 8.46967C9.23752 8.17678 8.76265 8.17678 8.46976 8.46967C8.17686 8.76256 8.17686 9.23744 8.46976 9.53033L9.53042 8.46967ZM16.4697 17.5303C16.7626 17.8232 17.2375 17.8232 17.5304 17.5303C17.8233 17.2374 17.8233 16.7626 17.5304 16.4697L16.4697 17.5303ZM16.4696 8.46967L8.46959 16.4697L9.53025 17.5303L17.5302 9.53033L16.4696 8.46967ZM8.46976 9.53033L16.4697 17.5303L17.5304 16.4697L9.53042 8.46967L8.46976 9.53033ZM24.25 13C24.25 19.2132 19.2132 24.25 13 24.25V25.75C20.0416 25.75 25.75 20.0416 25.75 13H24.25ZM13 24.25C6.7868 24.25 1.75 19.2132 1.75 13H0.25C0.25 20.0416 5.95837 25.75 13 25.75V24.25ZM1.75 13C1.75 6.7868 6.7868 1.75 13 1.75V0.25C5.95837 0.25 0.25 5.95837 0.25 13H1.75ZM13 1.75C19.2132 1.75 24.25 6.7868 24.25 13H25.75C25.75 5.95837 20.0416 0.25 13 0.25V1.75Z" fill="#F91942"/></svg>
			.popup__inner
				.filter__item
					h3 PRICE PER DAY
					.range__prices
						.price-min
							span €15
							sup Day
						.price-max
							span €75
							sup Day
					#slider-range
				.filter__item
					h3 Transmission
					.item__block
						input(type="radio" name="transmission")#rd1
						label(for="rd1") Any
						input(type="radio" name="transmission")#rd2
						label(for="rd2") Manual
						input(type="radio" name="transmission")#rd3
						label(for="rd3") Automatic
				.filter__item
					h3 INSURANCE
					.item__block
						input(type="checkbox")#ch1
						label(for="ch1") Third Party Liability
						input(type="checkbox")#ch2
						label(for="ch2") SCDW
						input(type="checkbox")#ch3
						label(for="ch3") Cross border
						input(type="checkbox")#ch4
						label(for="ch4") CDW
						input(type="checkbox")#ch5
						label(for="ch5") FDW
						input(type="checkbox")#ch6
						label(for="ch6") Young driver
				.filter__item
					h3 Car types
					.item__block
						input(type="checkbox")#ch1-1
						label(for="ch1-1") Economy
						input(type="checkbox")#ch2-1
						label(for="ch2-1") Comfort
						input(type="checkbox")#ch3-1
						label(for="ch3-1") Cabrio
						input(type="checkbox")#ch4-1
						label(for="ch4-1") Premium
						input(type="checkbox")#ch5-1
						label(for="ch5-1") Luxury
						input(type="checkbox")#ch6-1
						label(for="ch6-1") Minivan
						input(type="checkbox")#ch7-1
						label(for="ch7-1") SUV
						input(type="checkbox")#ch8-1
						label(for="ch8-1") Crossover
				.filter__item
					h3 Supplier
					.item__block.item__block_owners
						input(type="checkbox")#ch1-2
						label(for="ch1-2")
							.photo-block
								img(src="img/country/owner1.png" alt="Photo").photo
								span.online
							span Tamuna
							img(src="img/item/itemStar.svg" alt="Star").star
							b 4.8
							sup (132)
						input(type="checkbox")#ch2-2
						label(for="ch2-2")
							img(src="img/country/owner1.png" alt="Photo").photo
							span Tamuna
							img(src="img/item/itemStar.svg" alt="Star").star
							b 4.8
							sup (132)
						input(type="checkbox")#ch3-2
						label(for="ch3-2")
							img(src="img/country/owner1.png" alt="Photo").photo
							span Tamuna
							img(src="img/item/itemStar.svg" alt="Star").star
							b 4.8
							sup (132)
			.popup__bottom
				button.popup__clear Clear all
				button.popup__submit.btn-hover Show 150 cars




	include includes/footer.pug