extends includes/header.pug

block content

	main.page-inners.page-privacy.page-texts

		.wrapper

			h1 Privacy Policy

			ul.page-texts__tabs
				li
					a(href="#block-payments") Payments
				li
					a(href="#block-bookingProcess") Booking Process
				li
					a(href="#block-cancelRefunds") Cancel / Refunds
				li
					a(href="#block-noShow") No-Show
				li
					a(href="#block-modify") Modify
				li
					a(href="#") Payments
				li
					a(href="#") Booking Process
				li
					a(href="#") Cancel / Refunds
				li
					a(href="#") No-Show
				li
					a(href="#") Modify
				li
					a(href="#") Payments
				li
					a(href="#") Booking Process
				li
					a(href="#") Cancel / Refunds

			.page-texts__inner
				.page-texts__block
					.page-texts__title
						span What and why we collect about you
					.page-texts__text
						p By using LocalCarHires website, you entrust us with the information that can be used to identify you as a person and grant us the right to process it. If you don’t agree to provisions of this Policy, we will be unable to provide you services. If you have any questions or comments about your privacy, you should contact us.
				.page-texts__block#block-payments
					.page-texts__title
						span Why we collect information about you
					.page-texts__text
						ul
							li To process your rental booking correctly, including passing some information on to car rental providers.
							li To gather statistics regarding customer behavior in order to improve our services.
							li To recognise website visitors.
						p We take all appropriate technical measures and good industry practice to protect your personal information across our physical premises/servers.
				.page-texts__block#block-bookingProcess
					.page-texts__title
						span Type of data we collect
					.page-texts__text
						ul
							li Name
							li Photograph
							li Telephone Number
							li Social networks and messengers
							li Email Address
							li Your IP address, browser type and operating system
				.page-texts__block#block-cancelRefunds
					.page-texts__title
						span Sources of your Personal Data
					.page-texts__text
						p We collect all of your Personal Data directly from you, for example, when you complete the data required for booking or register on our website.
				.page-texts__block#block-noShow
					.page-texts__title
						span Disclosure of your Personal Data
					.page-texts__text
						p Access to your Personal Data is limited to those employees and rental providers who need access to it in order to provide you with service and communicate with you (this may include marketing communications).
				.page-texts__block#block-modify
					.page-texts__title
						span How secure is your Personal Data
					.page-texts__text
						p We use all appropriate organizational and technical means to ensure the confidentiality of your Personal Data. We only use encrypted connections. You will always be asked to enter your CVV code for every booking.
				.page-texts__block#block-deliveryConditions
					.page-texts__title
						span Your rights under the data protection laws
					.page-texts__text
						p You may have some of the following rights in respect of your personal information. If you wish to exercise any of these rights, please contact your Data Controller (contacts below).
						ul
							li Obtain information on whether we process your Personal Data (including type and purposes of use).
							li Request changes (if your data has changed, or is inaccurate).
							li Restrict processing of your Personal Data (we will not be able to provide you with services).
							li Port Personal Data (all data will be provided to you in a mutually agreed format).
							li Delete Personal Data (we will not be able to provide you with services).
							li Lodge a complaint (if we process your Personal Data in violation of laws and regulations).
				.page-texts__block#block-disclaimer
					.page-texts__title
						span Data Controller
					.page-texts__text
						p In relation to this website, your data controller will be LocalCarHires OÜ (Estonian registration number 14464370) which collected your Personal Data. If you have any complaints or queries relating to the processing of your Personal Information or to exercise any rights in respect of your Personal Information, you should contact us by email: <a href="#">support@localcarhires.com</a> or by post: Harju maakond, Tallinn, Kesklinna linnaosa, Tuukri tn 19-315, 10152.
				.page-texts__block#block-dataProtection
					.page-texts__title
						span Why we use cookies?
					.page-texts__text
						p Cookies are items of information that your browser saves in a file on your device. Cookies allow to customize the website and its contents to your needs.
						p The cookies we use on our website do not store data that could directly identify you as a person.
						p We use cookies in order to:
						ul
							li Track user activity on our website
							li Monitor and manage website traffic
							li Collect demographic information about our user base
							li Protect our customers and prevent fraudulent activities
							li Advertise campaigns and promotions, and determine their success.
							li Improve design and our selection of offers.
				.page-texts__block#block-complaints
					.page-texts__title
						span Controlling and deleting cookies
					.page-texts__text
						p If you want to restrict or block cookies on our website, you can do so by changing your internet browser settings. If you block or delete cookies, our website may not operate as intended.
				.page-texts__block
					.page-texts__title
						span Consent to use cookies
					.page-texts__text
						p We need your consent to use cookies. Our website has a popup that informs you about the use of cookies. If you continue to use the website, this is considered as your consent to use cookies.





	include includes/footer.pug