extends includes/header.pug

block content

	main.page-inners.page-terms.page-texts

		.wrapper

			h1 Service Terms

			ul.page-texts__tabs
				li
					a(href="#block-payments") Payments
				li
					a(href="#block-bookingProcess") Booking Process
				li
					a(href="#block-cancelRefunds") Cancel / Refunds
				li
					a(href="#block-noShow") No-Show
				li
					a(href="#block-modify") Modify
				li
					a(href="#") Payments
				li
					a(href="#") Booking Process
				li
					a(href="#") Cancel / Refunds
				li
					a(href="#") No-Show
				li
					a(href="#") Modify
				li
					a(href="#") Payments
				li
					a(href="#") Booking Process
				li
					a(href="#") Cancel / Refunds

			.page-texts__inner
				.page-texts__block
					.page-texts__title
						span Our agreement with you
					.page-texts__text
						p Car rental providers have their own terms and conditions for rentals. When picking up the vehicle you will sign a rental contract with the rental provider supplying the vehicle.
						p The services described below are provided by LocalCarHires OÜ (Estonian registration number 14464370).
						p The laws of Estonia govern our Terms, as well as any Disputes, whether in court or arbitration, which might arise between LocalCarHires and you, without regard to conflict of law provisions.
				.page-texts__block#block-payments
					.page-texts__title
						span Payments
					.page-texts__text
						p With held prepayment is to secure the car for you on selected dates and times. The rest of the rental fee (the balance in full) is charged by the rental provider upon picking up the car.
						p All prepayments are made with maximum security (SSL encryption).
				.page-texts__block#block-bookingProcess
					.page-texts__title
						span Booking Process
					.page-texts__text
						p
							b We display vehicle information, rental conditions, extras and insurance options as provided by the rental company.
						p
							b We obtain confirmation of every booking from the rental provider. Most bookings are confirmed within a few hours. In some cases a confirmation may take up to 24 hours.
						p
							i Upon receiving the confirmation from the rental Provider, we charge the Prepayment to your card, and send you the confirmation Voucher, which completes the booking process.
						p If the vehicle is unavailable, we will contact you to offer alternatives. If you do not accept alternative options, we will cancel the booking and return the prepayment to your card. it will become available in your account in up 10 days depending on your bank.
						p The booking status can be found by going to your Bookings list after sign-in.
				.page-texts__block#block-cancelRefunds
					.page-texts__title
						span Cancel / Refunds
					.page-texts__text
						p To cancel your booking, log in to <a href="#">“Bookings”</a> and click ’Cancel’ next to the booking or send a request to <a href="#">support@localcarhires.com</a> using the email address provided in the booking.
						p A payment service charge of 10% from the amount prepaid will be kept in case of cancellation, regardless of reasons for cancelling.
				.page-texts__block#block-noShow
					.page-texts__title
						span No-Show
					.page-texts__text
						p In case of a ’No-show’, no prepayment will be refunded. A ’No-show’ applies when you:
						ul
							li Fail to show up for a reserved car without notifying the rental provider;
							li Fail to pick up the car at the time and date determined in the Voucher;
							li Fail to provide the documentation required to pick up the car;
							li Fail to leave a Security Deposit;
				.page-texts__block#block-modify
					.page-texts__title
						span Modify
					.page-texts__text
						p You can request to modify a confirmed rental by sending an email to <a href="#">support@localcarhires.com</a> 24 hours before the pick-up date/time at the latest.
						p We shall advise you if the proposed changes are possible and whether or not they will affect the rental price.
						p Unless we accepted modifications in writing, previously confirmed conditions apply.
				.page-texts__block#block-deliveryConditions
					.page-texts__title
						span Delivery Conditions
					.page-texts__text
						p When picking up the vehicle you will be required to sign a rental contract with the rental provider supplying the vehicle.
						p In the event of a flight delay or cancellation, it is your responsibility to inform the car rental provider.
						p Check over the vehicle upon collection to ensure that any damage, bumps or scrapes are duly noted by the car rental provider.
						p You must present the following documents when picking up the car:
						ul
							li Printed or digital Voucher;
							li Passport / ID card;
							li Full valid Driver license;
							li International Driving Permit (required by some rental providers);
							li Valid credit card in main driver’s name (required by some rental providers);
				.page-texts__block#block-disclaimer
					.page-texts__title
						span Disclaimer
					.page-texts__text
						p We act as an intermediary between car rental companies and clients. We don’t own rental cars, the cars you rent are owned by the car rental providers.
						p We cannot be held responsible if you did not meet the provider’s requirements upon picking up the car.
						p We accept no responsibility whatsoever for loss, damage, injuries to health, arising from a car rental.
				.page-texts__block#block-dataProtection
					.page-texts__title
						span Data Protection
					.page-texts__text
						p Your personal data are processed according to requirements applicable in the EU and in order to provide the Service requested by you. Information about personal data is specified in the Privacy Policy.
				.page-texts__block#block-complaints
					.page-texts__title
						span Complaints
					.page-texts__text
						p Complaints must be submitted in writing to <a href="#">support@localcarhires.com</a> or to our postal address. We will aim to provide a response within 7 days.
						p Сlaims related to car rental providers should be addressed directly to the car rental providers.





	include includes/footer.pug